<%= content_for(:title,  "Chunk details: #{@chunk.title}") %>
<%= content_for(:back_link, render("govuk_publishing_components/components/back_link",
                                  text: "Back to results",
                                  href: params[:back_link]) ) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <%= render "govuk_publishing_components/components/summary_list", {
      items: [
        { field: "Title", value: @chunk.title },
        { field: "Heading hierarchy", value: @chunk.heading_hierarchy.join(" | ") },
        { field: "Description", value: @chunk.description},
        { field: "Document type", value: @chunk.document_type},
        { field: "Base path", value: @chunk.base_path },
        { field: "Content", value: @chunk.plain_content },
        { field: "Html content", value: @chunk.html_content.html_safe },
        { field: "On gov.uk", value: link_to("https://www.gov.uk#{@chunk.base_path}", "https://www.gov.uk#{@chunk.base_path}", class: "govuk-link") },
      ]
    } %>
  </div>
</div>
