<%
  early_access ||= false
  animation_classes = %w[app-landing-page-layout__animation]
  animation_classes << "app-landing-page-layout__animation--early-access" if early_access
%>

<%= tag.div class: animation_classes do %>
  <div class="app-landing-page-layout__animation-message-container">
    <div class="app-landing-page-layout__animation-message"></div>
    <div class="app-landing-page-layout__animation-message app-landing-page-layout__animation-message--alt"></div>
    <div class="app-landing-page-layout__animation-message"></div>
    <div class="app-landing-page-layout__animation-message app-landing-page-layout__animation-message--alt"></div>
  </div>
<% end %>
