<div class="app-landing-page-layout__animation">
  <div class="app-landing-page-layout__animation-message-container">
    <div class="app-landing-page-layout__animation-message"></div>
    <div class="app-landing-page-layout__animation-message app-landing-page-layout__animation-message--alt"></div>
    <div class="app-landing-page-layout__animation-message"></div>
    <div class="app-landing-page-layout__animation-message app-landing-page-layout__animation-message--alt"></div>
  </div>
</div>
