<%= content_for :title, "You've been sent a new link" %>
<%= content_for(:back_link, render("govuk_publishing_components/components/back_link",
                                  href: homepage_path) ) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      Please check your email. You have been sent a new unique link to access GOV.UK Chat.
    </p>

    <p class="govuk-body">
      You must use the link within 24 hours.
    </p>
  </div>
</div>
