<%
  # View that is rendered when early access authentication is on (e.g. production)
  content_for(:browser_title, "Try GOV.UK Chat")
  content_for(:body_class, "app-landing-page-layout")
  content_for(:main_class, "app-landing-page-layout__main")
  early_access = true
%>
<%= render "shared/error_summary",
  model: @sign_in_or_up_form,
  anchor_mappings: {
    email: "#sign_in_or_up_form_email",
  } %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "components/chat_introduction", {
      early_access: early_access,
      input_error_items: error_items(@sign_in_or_up_form, :email),
      input_value: @sign_in_or_up_form.email,
    } %>
  </div>

  <%= render "landing_page_animation", {
    early_access: early_access,
  } %>
</div>
