<%
  content_for(:html_class, "app-landing-page-layout")
  content_for(:body_class, "app-landing-page-layout__body")
  content_for(:main_class, "app-landing-page-layout__main")
%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "components/chat_introduction", {
      signed_in_user_email: current_early_access_user.email,
      start_button_href: show_conversation_path,
    } %>
  </div>

  <%= render "landing_page_animation" %>
</div>
