<%
  # View that is rendered when early access authentication is off (e.g. Heroku demo)
  assign_homepage_layout_classes
%>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "components/chat_introduction" %>
  </div>

  <%= render "landing_page_animation" %>
</div>
