<%
  content_for(:html_class, "app-landing-page-layout")
  content_for(:body_class, "app-landing-page-layout__body")
  content_for(:main_class, "app-landing-page-layout__main")
%>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "components/chat_introduction" %>
  </div>
</div>
