<% content_for(:main_class, "ut-landing-page") %>

<div class="ut-landing-page__button-container">
  <%= render "govuk_publishing_components/components/button", {
    text: "Start prototype",
    href: "https://www.figma.com/proto/eZelUMJSqjD0Xw8dWyT9OL/Chat-in-the-app-prototypes-for-UR-testing-May-2025?node-id=106-2609&t=NDbYGiaDao532rRk-8&scaling=min-zoom&content-scaling=fixed&page-id=1%3A31&starting-point-node-id=106%3A1479&show-proto-sidebar=1&hide-ui=1",
    start: true,
  } %>
</div>
