<% content_for(:main_class, "ut-landing-page") %>

<div class="ut-landing-page__button-container">
  <%= render "govuk_publishing_components/components/button", {
    text: "Start prototype",
    href: "https://www.figma.com/proto/eZelUMJSqjD0Xw8dWyT9OL/Chat-in-the-app-prototypes-for-UR-testing-May-2025?node-id=583-3614&t=2Et5bSIRNGZrhW8p-8&scaling=min-zoom&content-scaling=fixed&page-id=583%3A3566&starting-point-node-id=583%3A3569&hide-ui=1",
    start: true,
  } %>
</div>
