<%= content_for :title, "You are now signed out" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      To sign back in, you’ll need to <%= link_to("get a new link for GOV.UK Chat", homepage_path, class: "govuk-link") %>.
    </p>
  </div>
</div>
