<%= content_for :title, "There is a problem with your link" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      Your link might have expired or been used already. If you pasted the link,
      check you copied all of it.
    </p>

    <p class="govuk-body">
      You can <%= link_to("get a new link for GOV.UK Chat", homepage_path, class: "govuk-link") %>
      using the email address you signed up with.
    </p>
  </div>
</div>
