<%= form_with url:, class: "app-c-answer-feedback-form js-answer-feedback-form", data: { module: "answer-feedback-form" } do |f| %>
  <fieldset class="app-c-answer-feedback-form__fieldset js-fieldset">
    <legend class="app-c-answer-feedback-form__legend">How was this answer?</legend>
    <div class="app-c-answer-feedback-form__button-group">
      <%= button_tag(
        "#{tag.span('This answer was ', class: 'govuk-visually-hidden')}Useful".html_safe,
        class: "app-c-answer-feedback-form__button",
        name: "create_answer_feedback[useful]",
        value: "true",
      ) %>
      <span class="govuk-body"> or </span>
      <%= button_tag(
        "#{tag.span('This answer was ', class: 'govuk-visually-hidden')}not useful".html_safe,
        class: "app-c-answer-feedback-form__button",
        name: "create_answer_feedback[useful]",
        value: "false",
      ) %>
    </div>
  </fieldset>

  <div class="app-c-answer-feedback-form__feedback-submitted js-feedback-submitted" hidden>
    <p class="govuk-body">
      Thanks for your feedback. <%= button_tag("Hide this message", class: "app-c-answer-feedback-form__button js-hide-control", type: "button") %>
    </p>
  </div>
<% end %>
