<%
  data_attributes ||= {}
  start ||= false
  conversation_form_button ||= false
  text ||= nil
  href ||= nil
  aria_describedby ||= nil

  classes = "app-c-blue-button govuk-button"
  classes << " govuk-button--start" if start
  classes << " app-c-blue-button--conversation-form js-conversation-form-button" if conversation_form_button

  options = { class: classes }
  options[:role] = "button" if href.present?
  options[:data] = data_attributes if data_attributes
  options[:aria] = {}
  options[:aria][:describedby] = aria_describedby if aria_describedby
%>

<% start_button_text = capture do %>
  <span>
    <%= text %>
  </span>
  <svg class="govuk-button__start-icon govuk-!-display-none-print" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" focusable="false" aria-hidden="true">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
<% end %>

<% text = start_button_text if start %>

<% if href.present? %>
  <%= link_to text, href, options %>
<% else %>
  <%= content_tag :button, text, options %>
<% end %>
