<%
  start_button_href ||= Rails.application.routes.url_helpers.onboarding_limitations_path
  info_text_classes = "app-c-chat-introduction__info_text govuk-body"
%>

<%= content_tag :div, class: "app-c-chat-introduction" do %>
  <%= render "components/chat_introduction_title", {
    title: "Try GOV.UK Chat",
    standfirst_paragraphs: ["An experimental new way to find answers to your business questions, powered by AI"],
  } %>

  <%= render "components/blue_button", {
    text: "Try GOV.UK Chat",
    href: start_button_href,
    start: true,
    aria_describedby: "info-text",
    data_attributes: {
      "module": "ga4-link-tracker",
      "ga4-link": '{ "event_name": "navigation", "type": "start button", "index_link": 1, "index_total": 1, "section": "Landing page" }',
    },
  } %>

  <% info_text = "Your chat history will be available for #{Rails.configuration.conversations.max_question_age_days} days" %>
  <div class="govuk-!-width-three-quarters">
    <%= content_tag(:p, info_text, { id: "info-text", class: info_text_classes}) %>
  </div>
<% end %>
