<div class="app-c-conversation-sources">
  <details class="app-c-conversation-sources__details">
    <summary class="app-c-conversation-sources__summary govuk-body">
      <strong>Pages used in this answer</strong>
    </summary>

    <ul class="app-c-conversation-sources-list gem-c-list govuk-list govuk-list--bullet" data-module="ga4-link-tracker">
      <% sources.map.with_index do |source, index| %>
        <%= tag.li class: "app-c-conversation-sources-list__item" do %>
          <%= link_to source.fetch(:href),
            class: "govuk-link",
            data: {
              ga4_link: {
                "event_name": "navigation",
                "index": {
                  "index_link": index + 1,
                },
                "index_total": sources.count,
                "type": "chat source",
              },
            } do %>
            <%= source.fetch(:title).html_safe %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </details>
</div>
