<div class="app-c-conversation-sources">
  <div class="app-c-conversation-message__body app-c-conversation-message__body--accuracy-warning">
    <div class="accuracy-warning">
      <%= inline_svg_tag "mobile_icons/ios/accuracy-warning-icon.svg", class: "accuracy-warning-icon", aria_hidden: true %>
      <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-font-weight-bold">Chat can make mistakes. Check GOV.UK pages directly for important information.</p>
    </div>
  </div>

  <details class="app-c-conversation-sources__details">
    <summary class="app-c-conversation-sources__summary govuk-body">
      <p class="govuk-body">GOV.UK pages used in this answer</p>
    </summary>

    <ul class="app-c-conversation-sources-list gem-c-list govuk-list govuk-list--bullet" data-module="ga4-link-tracker">
      <% sources.map.with_index do |source, index| %>
        <%= tag.li class: "app-c-conversation-sources-list__item" do %>
          <%= link_to source.fetch(:href),
            class: "govuk-link",
            data: {
              ga4_link: {
                "event_name": "navigation",
                "index": {
                  "index_link": index + 1,
                },
                "index_total": sources.count,
                "type": "chat source",
              },
            } do %>
            <%= source.fetch(:title).html_safe %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </details>
</div>
