<div class="app-c-conversation-sources">
  <div class="app-c-conversation-sources__accuracy-warning">
    <%= inline_svg_tag "components/conversation_message/govuk-chat-accuracy-warning-icon.svg", class: "app-c-conversation-sources__accuracy-warning-icon", aria_hidden: true %>
    <strong class="app-c-conversation-sources__accuracy-warning-text">GOV.UK Chat can make mistakes. Check GOV.UK pages for important information.</strong>
  </div>

  <details class="app-c-conversation-sources__details">
    <summary class="app-c-conversation-sources__details-summary">
      <span class="app-c-conversation-sources__details-summary-text">
        GOV.UK pages used in this answer (links open in a new tab)
      </span>
    </summary>
    <ul class="app-c-conversation-sources__list govuk-list govuk-list--bullet" data-module="ga4-link-tracker">
      <% sources.map.with_index do |source, index| %>
        <%= tag.li class: "app-c-conversation-sources__list-item" do %>
          <%= link_to source.fetch(:href),
            class: "govuk-link",
            target: "_blank",
            rel: "noopener noreferrer",
            data: {
              ga4_link: {
                "event_name": "navigation",
                "index": {
                  "index_link": index + 1,
                },
                "index_total": sources.count,
                "type": "chat source",
              },
            } do %>
            <%= source.fetch(:title).html_safe + tag.span("(opens in new tab)",
              class: "govuk-visually-hidden") %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </details>
</div>
