<%
  user ||= "unknown user"
  author_comment ||= nil
%>

<div class="app-c-settings-audit-entry">
  <h2 class="app-c-settings-audit-entry__action">
    <%= action %>
  </h2>

  <% if author_comment.present? %>
    <div class="app-c-settings-audit-entry__author_comment">
      <%= escaped_simple_format(author_comment, { class: "govuk-body" }) %>
    </div>
  <% end %>

  <p class="app-c-settings-audit-entry__authored">
    Changed at <%= created_at %> by <%= user %>
  </p>
</div>
