## Opensearch configuration. Not required for local development using govuk-docker
OPENSEARCH_URL=
OPENSEARCH_USERNAME=
OPENSEARCH_PASSWORD=

## Optional variables to use alternate answer strategy
# ANSWER_STRATEGY=non_llm_answer

## Optional variables to configure AWS Bedrock interactions
# BEDROCK_CLAUDE_JAILBREAK_GUARDRAILS_MODEL=
# BEDROCK_CLAUDE_QUESTION_REPHRASER_MODEL=
# BEDROCK_CLAUDE_QUESTION_ROUTER_MODEL=
# BEDROCK_CLAUDE_STRUCTURED_ANSWER_COMPOSER_MODEL=
# BEDROCK_CLAUDE_GUARDRAILS_MODEL=
# CLAUDE_AWS_REGION=
