<%
content_for(:title, "Sign up is now closed")
content_for(:back_link, render("govuk_publishing_components/components/back_link",
                               href: homepage_path))
%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      GOV.UK Chat is no longer open to new users.
    </p>

    <p class="govuk-body">
      You can still access
      <%= link_to("tools and guidance for businesses on GOV.UK",
                  Plek.website_root + "/browse/business",
                  class: "govuk-link") %>.
    </p>

    <p class="govuk-body">
      Thanks for your interest.
    </p>
  </div>
</div>
