<% content_for(:title, "Sign up is currently closed") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      GOV.UK Chat is not currently open to new users.
    </p>

    <p class="govuk-body">
      <%= link_to("Go back to GOV.UK", Plek.website_root, class: "govuk-link") %>
    </p>
  </div>
</div>
