<%
content_for(:browser_title, user_research_question_text(:reason_for_visit))
content_for(:back_link, render("govuk_publishing_components/components/back_link",
                               href: sign_up_user_description_path))
%>

<%= render "shared/error_summary",
  model: @reason_for_visit_form,
  anchor_mappings: {
    choice: "#reason_for_visit_form_choice",
  } %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with url: sign_up_reason_for_visit_path do %>
      <%= render "govuk_publishing_components/components/radio", {
        id: "reason_for_visit_form_choice",
        name: "reason_for_visit_form[choice]",
        heading: user_research_question_text(:reason_for_visit),
        heading_caption: "Question 2 of 3",
        heading_level: 1,
        error_items: error_items(@reason_for_visit_form, :choice),
        items: user_research_question_items_for_radio(:reason_for_visit, checked: @reason_for_visit_form.choice),
      } %>

      <%= render "components/blue_button", {
        text: "Next question",
      } %>
    <% end %>
  </div>
</div>
