<%= content_for :title, "The GOV.UK Chat waitlist is currently full" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      Please try again another time. New spaces are added every working day.
    </p>
    <p class="govuk-body">
      Check <%= link_to("GOV.UK guidance for businesses", "#{Plek.website_root}/browse/business", class: "govuk-link") %> if you need information now.
    </p>

    <p class="govuk-body">
      Thank you for your interest.
    </p>
  </div>
</div>
