<%= render "components/conversation_message", {
  message: "<p>Hi 👋 I’m GOV.UK’s AI Chat.</p><p>I can help you to learn about new topics and processes, understand government information and find what you need on GOV.UK.</p>",
  skip_sanitize: true,
} %>

<%= render "components/conversation_message", {
  message: "<p>I’m here to help, but my answers don’t replace official guidance.</p><p>For the most accurate and up-to-date information, always check GOV.UK directly.</p>",
  skip_sanitize: true,
} %>

<%= render "components/conversation_message", {
  message: "Ask me a question to get started.",
  skip_sanitize: true,
} %>
