<%= render "components/conversation_message", {
  message: "<p>Hi 👋 I’m GOV.UK’s AI Chat.</p>",
  skip_sanitize: true,
} %>

<%= render "components/conversation_message", {
  message: "<p>When you ask a question, I’ll find the most relevant information from GOV.UK and use it to create an answer.</p>",
  skip_sanitize: true,
} %>

<%= render "components/conversation_message", {
  message: "Ask a question to get started.",
  skip_sanitize: true,
} %>
