<% content_for(:title, "Do you want to clear your chat history?") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">This will delete your chat history.</p>

    <%= form_with url: clear_path do |f| %>
      <div class="govuk-button-group">
        <%= render "components/blue_button", {
          text: "Yes, clear chat",
          data_attributes: {
            "module": "ga4-event-tracker",
            "ga4-event": { "event_name": "navigation", "type": "chat button", "index": "1", "index_total": "1", "section": "Clear chat" },
          },
        } %>
        <%= render "govuk_publishing_components/components/button", {
          secondary_solid: true,
          text: "No, not now",
          href: show_conversation_path,
          data_attributes: {
            "module": "ga4-link-tracker",
            "ga4-link": { "event_name": "navigation", "type": "generic link", "index_link": 1, "index_total": 1, "section": "Clear chat" },
          },
        } %>
      </div>
    <% end %>
  </div>
</div>
