<% content_for(:title, "GOV.UK Chat is generating an answer") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if params[:refresh] %>
      <p class="govuk-body">Thanks for your patience. Check again to find out if your answer is ready.</p>
    <% else %>
      <p class="govuk-body">Your question has been received.</p>
    <% end %>

    <%= render("components/blue_button", {
      text: "Check if an answer has been generated",
      href: answer_question_path(@question, refresh: true),
    }) %>
  </div>
</div>
