<%= content_for :title, "Account already exists" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      An account for this email address already exists.
      Visit the <%= link_to("sign in page", chat_path, class: "govuk-link") %> to access GOV.UK Chat.
    </p>
  </div>
</div>
