<%= content_for :title, "GOV.UK Chat is no longer open for new users" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      Sorry GOV.UK Chat is not currently available for you.
    </p>

    <p class="govuk-body">
      <%= link_to("Go back to GOV.UK", Plek.website_root, class: "govuk-link") %>
    </p>
  </div>
</div>
