<%= content_for :title, "You have been added to the waitlist" %>
<%= content_for(:back_link, render("govuk_publishing_components/components/back_link",
                                  href: early_access_entry_sign_in_or_up_path) ) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      There are no spaces available to use GOV.UK Chat right now.
    </p>

    <p class="govuk-body">
      Please check your emails regularly. If a space becomes available, you will be sent a unique link to access GOV.UK Chat.
    </p>

    <p class="govuk-body">
      You must use the link within 24 hours.
    </p>
  </div>
</div>
