<%= content_for :title, "You’ve opted out of GOV.UK Chat" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      Thanks for helping to test GOV.UK Chat. Your access has been removed and your email address will no longer be stored.
    </p>

    <p class="govuk-body">
      If you change your mind, you can <%= link_to("sign up for GOV.UK Chat", Plek.website_root, class: "govuk-link") %> again.
    </p>
  </div>
</div>
