.app-landing-page-layout, .app-landing-page-layout__body {
  // Used to hide horizontal scrollbars caused by the landing page animation.
  // In all browsers except Safari, adding this rule to the html element seemed
  // to work. In Safari, you could still scroll horizontally unless this rule was
  // also applied to the body element.
  overflow-x: hidden;
}

.app-landing-page-layout__body {
  display: flex;
  flex-direction: column;

  // In order to prevent the landing animation from overlaying other elements, we establish a new stacking context here 
  // and set the animation container's z-index to -1 to push it behind the content in the body
  position: relative;
  z-index: 0;

  // This is to mask any whitespace that can appear beneath the footer
  background-color: govuk-colour("light-grey");

  // This is to prevent double vertical scrollbars from appearing when applying overflow-x: hidden on both the
  // html and body elements
  overflow-y: hidden;
}

.app-landing-page-layout__main {
  // This is to offset the grey background on .app-landing-page-layout so that the white background on the main element
  // is maintained
  background-color: govuk-colour("white");
  // This is to prevent the background ruleset from overlaying the animation boxes
  z-index: -1;
}

.app-landing-page-layout__animation {
  animation: landing-page-animation 0.75s ease-in-out;
  position: absolute;
  right: -10rem;
  z-index: -1;
  margin-top: -7rem;

  @include govuk-media-query($from: mobile, $until: tablet) {
    right: -38rem;
    margin-top: -47rem;
  }

  @include govuk-media-query($from: tablet, $until: desktop) {
    right: -35rem;
    margin-top: -10rem;
  }

  @include govuk-media-query($from: desktop, $until: 1919px) {
    right: -10rem;
    margin-top: -8rem;
  }

  @include govuk-media-query($from: 1919px) {
    right: -15rem;
    margin-top: -8rem;
  }
}

@keyframes landing-page-animation {
  0% {
    transform: translateY(-100%);
  }

  // The translations at 60% and 80% give the bounce effect
  60% {
    transform: translateY(30px);
  }

  80% { 
    transform: translateY(-3px); 
  }

  100% { 
    transform: translateY(0); 
  }
}

@media (prefers-reduced-motion) {
  .app-landing-page-layout__animation {
    animation: none;
  }
}

.app-landing-page-layout__animation-message-container {
  transform: rotate(5deg) scale(0.7);
  max-width: 56.25rem;
  overflow: hidden;

  @include govuk-media-query($from: tablet) {
    transform: rotate(5deg) scale(1);
  }

  // This is a bit of a hack to stop the animation boxes from extending beyond the footer and
  // creating additional whitespace under it on wider screens. The max-height rule also only
  // kicks once the viewport height is greater than 820px to prevent the animation boxes from
  // being cut off prematurely.
  @include govuk-media-query($from: desktop) {
    @media screen and (min-height: 820px) {
      max-height: 100vh;
    }
  }

  @include govuk-media-query($from: 1919px) {
    transform: rotate(5deg) scale(1.25);
  }
}

.app-landing-page-layout__animation-message {
  height: 12.5rem;
  width: 46.875rem;
  margin: 1rem 0;
  background-color: govuk-tint(govuk-colour("light-blue"), 75%);
  float: right;

  &:first-of-type {
    width: 48.125rem;
    height: 12.5rem;
    margin: 1.5rem;
  }

  &:last-of-type {
    height: 19rem;
    width: 48.125rem;
    margin: 1.5rem;
  }
}

.app-landing-page-layout__animation-message--alt {
  background-color: govuk-colour("light-grey");
  float: left;

  @include govuk-media-query($from: desktop, $until: 1919px) {
    width: 37.5rem;
  }
}

.app-landing-page-layout__animation--early-access {
  @include govuk-media-query($from: mobile, $until: tablet) {
    margin-top: -58rem;
  }

  // Remove the height restriction on the animation container when the early access
  // version of the chat introduction component is rendered because whitespace beneath
  // the footer doesn't occur in this scenario (and the height restriction also causes
  // the animation boxes to get cut off prematurely). This is because the early access
  // version contains additional content, therefore increasing the height of the introduction
  // component and pushes the footer further down - meaning that the greatest extent of the
  // animation boxes doesn't extend beyond the footer i.e. no additional whitespace is created.
  .app-landing-page-layout__animation-message-container {
    max-height: none;
  }
}
