.app-landing-page-layout__body {
  display: flex;
  flex-direction: column;

  // This is to mask any whitespace that can appear beneath the footer
  background-color: govuk-colour("light-grey");
}

.app-landing-page-layout__main {
  // This is to offset the grey background on .app-landing-page-layout so that the white background on the main element
  // is maintained
  background-color: govuk-colour("white");
}
