<%= content_for :title, "You have been removed from the waiting list" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      You will no longer receive any emails about GOV.UK Chat. Thanks and goodbye...
    </p>

    <p class="govuk-body">
      If you change your mind you can always <%= link_to("sign up again", Plek.website_root, class: "govuk-link") %>.
    </p>
  </div>
</div>
