default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("DATABASE_POOL", "12").to_i %>
  template: template0

development:
  <<: *default
  database: govuk_chat_development
  url: <%= ENV["DATABASE_URL"] %>
  cable:
    <<: *default
    database: govuk_chat_development_cable
    migrations_paths: db/cable_migrate

test:
  <<: *default
  database: govuk_chat_test
  url: <%= ENV["TEST_DATABASE_URL"] %>

production:
  <<: *default
  database: govuk_chat_production
  url: <%= ENV["DATABASE_URL"] %>
  cable:
    <<: *default
    database: govuk_chat_production_cable
    migrations_paths: db/cable_migrate
