default: &default
  chunked_content_index: <%= ENV.fetch("OPENSEARCH_INDEX", "govuk_chat_chunked_content") %>
  chunked_content_default_index: govuk_chat_chunked_content_default
  url: <%= ENV.fetch("OPENSEARCH_URL", "http://localhost:9200") %>
  user: <%= ENV["OPENSEARCH_USERNAME"] %>
  password: <%= ENV["OPENSEARCH_PASSWORD"] %>
  refresh_writes: false

development:
  <<: *default

test:
  <<: *default
  chunked_content_index: <%= ENV.fetch("OPENSEARCH_TEST_INDEX", "govuk_chat_chunked_content_test") %>
  chunked_content_default_index: govuk_chat_chunked_content_default_test
  refresh_writes: true

production:
  <<: *default
  url: <%= ENV["OPENSEARCH_URL"] %>
