<%= content_for :title, "Accessibility" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Accessibilty heading one</h2>
    <p class="govuk-body">
      Some content
    </p>
  </div>
</div>
