<% content_for(:title, "Sorry, you do not have access to the page") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">The page you tried to view is restricted.</p>
  </div>
</div>
