<%= content_for :title, "Sorry, there is a problem with GOV.UK Chat" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">Try again later.</p>
    <p class="govuk-body">[Visit GOV.UK](https://www.gov.uk/) if you need information now.</p>
  </div>
</div>
