<%= content_for :title, "Sorry, there is a problem" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">There have been too many attempts to access this page.</p>
    <p class="govuk-body">Try again later.</p>
  </div>
</div>
