<%= content_for :title, "Sorry, there is a problem" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">Go back and change the information you entered.</p>
    <pre class="govuk-!-margin-top-8">Status code: 422</pre>
  </div>
</div>
