<%= content_for :main_class, "app-c-conversation-layout app-c-conversation-layout--landing" %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <%= render "components/landing", {
        title_text: "GOV.UK Chat",
        lead_paragraph_text: "An experimental new way to find answers to your business questions, powered by AI",
        info_text: "Your chat will be stored on this browser for 7 days after your last message.",
      } %>
    </div>
  </div>
</div>
