<%
  # View that is rendered when early access authentication is off (e.g. Heroku demo)
  content_for(:body_class, "app-vertically-centred-layout")
  content_for(:main_class, "app-vertically-centred-layout__main")
%>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <%= render "components/chat_introduction", start_button_href: onboarding_limitations_path %>
  </div>
</div>
