<%= content_for :main_class, "app-c-conversation-layout app-c-conversation-layout--landing" %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <%= render "components/chat_introduction" %>
    </div>
  </div>
</div>
