<%
  # View that is rendered when early access authentication is on (e.g. production)
  content_for(:body_class, "app-vertically-centred-layout")
  content_for(:main_class, "app-vertically-centred-layout__main")
%>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <%= render "components/chat_introduction" %>
  </div>

  <%# TODO: customise this content for early access %>
  <h2 class="govuk-visually-hidden">Early Access</h2>
</div>
