<%
  # View that is rendered when early access authentication is on (e.g. production)
  content_for(:body_class, "app-landing-page-layout")
%>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "components/chat_introduction", start_button_href: onboarding_limitations_path %>
  </div>

  <%= render "landing_page_animation" %>

  <%# TODO: customise this content for early access %>
  <h2 class="govuk-visually-hidden">Early Access</h2>
</div>
