<%= content_for :title, "Before you start" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">GOV.UK Chat uses guidance on GOV.UK to answer your questions.</p>

    <p class="govuk-body">Because it uses artificial intelligence, it may not get everything right. Some of its answers might be inaccurate or inconsistent.</p>

    <p class="govuk-body">Check the guidance on GOV.UK before acting on any of the answers given by GOV.UK Chat.</p>

    <%= render "govuk_publishing_components/components/checkboxes", {
      name: "understand_risk",
      items: [
        {
          label: "I understand that the answers GOV.UK Chat generates may be inaccurate or inconsistent",
          value: "understand_risk"
        }
      ]
    } %>

    <%= render "govuk_publishing_components/components/button", {
      text: "Start chatting",
      disable_ga4: true,
      href: "/chat/conversations",
      start: true,
      rel: "external"
    } %>

  </div>
</div>
