<p class="govuk-body govuk-!-font-weight-bold"><%= "#{questions.total_count} #{'question'.pluralize(questions.total_count)}" %></p>

<% if questions.present? %>
  <%= render "govuk_publishing_components/components/table", {
    sortable: true,
    head: [
      {
        text: "Question",
        sort_direction: filter.sort_direction("message"),
        href: admin_questions_path(filter.toggleable_sort_params("message")),
      },
      {
        text: "Answer status",
      },
      {
        text: "Created at",
        sort_direction: filter.sort_direction("created_at"),
        href: admin_questions_path(filter.toggleable_sort_params("-created_at")),
      },
    ],
    rows: questions.map do |question|
      [
        {
          text: link_to(
            question.message.truncate(100),
            admin_show_question_path(question),
            class: "govuk-link",
          ),
        },
        {
          text: format_answer_status_as_tag(question.answer_status),
        },
        {
          text: question.created_at.to_fs(:time_and_date),
        },
      ]
    end,
  } %>

  <%= render "govuk_publishing_components/components/previous_and_next_navigation",
    previous_and_next_page_hash(
      questions,
      previous_page_url: admin_questions_path(filter.previous_page_params),
      next_page_url: admin_questions_path(filter.next_page_params),
    ) %>
<% else %>
  <%= render "govuk_publishing_components/components/inset_text", {
    text: "No questions found.",
  } %>
<% end %>
