<%= render "shared/error_summary",
  model: @filter,
  anchor_mappings: {
    start_date_params: "#start_date_params",
    end_date_params: "#end_date_params",
  } %>
<%= content_for :title, "Questions" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <%= render "admin/shared/question_filters", filter: @filter, user: @user, url: admin_questions_path %>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <%= render "admin/shared/questions_table",
      filter: @filter,
      questions: @filter.results,
      path: :admin_questions_path %>
  </div>
</div>
