<%
content_for(:title, "Question details")
content_for(:active_navigation_item, admin_questions_path)
%>

<% content_for :breadcrumbs do %>
  <%= render "govuk_publishing_components/components/breadcrumbs", {
    collapse_on_mobile: true,
    breadcrumbs: [
      {
        title: "Questions",
        url: admin_questions_path,
      },
      {
        title: "Question details",
      },
    ],
  } %>
<% end %>

<%
  tabs = [
    {
      id: "details-tab",
      label: "Details",
      content: render(
        "details_tab",
        question: @question,
        answer: @answer,
        question_number: @question_number,
        total_questions: @total_questions,
      ),
    },
  ]

  tabs << {
    id: "analysis-tab",
    label: "Analysis",
    content: render(
      "analysis_tab",
      topics: @answer.topics,
      answer_relevancy_runs: @answer.answer_relevancy_runs,
      coherence_runs: @answer.coherence_runs,
      faithfulness_runs: @answer.faithfulness_runs,
      context_relevancy_runs: @answer.context_relevancy_runs,
    ),
  } if @answer&.has_analysis?
%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <%= render "govuk_publishing_components/components/tabs", {
      panel_border: false,
      tabs:,
    } %>
  </div>
</div>
