<%
content_for(:title, "Settings")
content_for(:active_navigation_item, admin_settings_path)
%>

<%= render "govuk_publishing_components/components/secondary_navigation", {
  aria_label: "Settings navigation",
  items: [
    {
      label: "Settings",
      href: admin_settings_path,
      current: true,
    },
    {
      label: "Audits",
      href: admin_settings_audits_path,
    },
  ],
} %>

<div class="govuk-!-margin-bottom-8">
  <div>
    <%= render "govuk_publishing_components/components/summary_list", {
      title: "Web access",
      id: "web-access",
      heading_level: 2,
      heading_size: "l",
      items: [
        {
          field: "Enabled",
          value: @settings.web_access_enabled ? "Yes" : "No",
          edit: {
            href: admin_settings_edit_web_access_path,
            link_text: "Edit",
          },
        },
        {
          field: "Description",
          value: "Whether the GOV.UK Chat web app is enabled.",
        },
      ],
    } %>
  </div>

  <%= render "govuk_publishing_components/components/summary_list", {
    title: "API access",
    id: "api-access",
    heading_level: 2,
    heading_size: "l",
    items: [
      {
        field: "Enabled",
        value: @settings.api_access_enabled ? "Yes" : "No",
        edit: {
          href: admin_settings_edit_api_access_path,
          link_text: "Edit",
        },
      },
      {
        field: "Description",
        value: "Whether the GOV.UK Chat API is enabled.",
      },
    ],
  } %>
</div>
