<% content_for :title, "Settings" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <%= render "components/secondary_navigation", {
      aria_label: "Settings navigation",
      items: [
        {
          label: "Settings",
          href: admin_settings_path,
          current: true,
        },
        {
          label: "Audits",
          href: admin_settings_audits_path,
        },
      ],
    } %>

    <div class="govuk-!-margin-bottom-8">
      <%= render "govuk_publishing_components/components/summary_list", {
        title: "Instant access places",
        heading_level: 2,
        heading_size: "l",
        items: [
          {
            field: "Available instant access places",
            value: @settings.instant_access_places,
            edit: {
              href: admin_edit_instant_access_places_path,
              link_text: "Edit",
            },

          },
          {
            field: "Description",
            value: "The number of places we have available for early access signups to be granted instant access.",
          },
        ],
      } %>
    </div>

    <div class="govuk-!-margin-bottom-8">
      <%= render "govuk_publishing_components/components/summary_list", {
        title: "Delayed access places",
        heading_level: 2,
        heading_size: "l",
        items: [
          {
            field: "Available delayed access places",
            value: @settings.delayed_access_places,
            edit: {
              href: admin_edit_delayed_access_places_path,
              link_text: "Edit",
            },
          },
          {
            field: "Description",
            value: "The number of places we have available for people on the waiting list to be granted delayed access.",
          },
        ],
      } %>
    </div>

    <div class="govuk-!-margin-bottom-8">
      <%= render "govuk_publishing_components/components/summary_list", {
        title: "Sign up enabled",
        heading_level: 2,
        heading_size: "l",
        items: [
          {
            field: "Enabled",
            value: @settings.sign_up_enabled ? "Yes" : "No",
            edit: {
              href: admin_edit_sign_up_enabled_path,
              link_text: "Edit",
            },
          },
          {
            field: "Description",
            value: "Whether anyone can currently sign-up for access.",
          },
        ],
      } %>
    </div>
  </div>
</div>
