<%= content_for :title, "Confirm that you want to unsubscribe" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      You will no longer have access to GOV.UK Chat and will stop receiving emails.
    </p>
  </div>
</div>

<%= form_with url: early_access_user_revoke_access_confirm_path(@token), method: :post do |f| %>
  <%= render "components/blue_button", {
    text: "Unsubscribe",
  } %>
<% end %>
