<% content_for(:title, "GOV.UK Chat is closed") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      You can no longer access previous conversations or sign up.
    </p>
    <p class="govuk-body">
      Thank you for participating in the trial.
    </p>
  </div>
</div>
