<%= content_for :title, "Sorry, this service is unavailable" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      <%= link_to("Back to GOV.UK", Plek.website_root, class: "govuk-link") %>
    </p>
  </div>
</div>
