<% content_for(:title, "GOV.UK Chat is not currently available") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      You will be able to use the tool later.
    </p>
    <p class="govuk-body">
      <%= link_to("Back to GOV.UK", Plek.website_root, class: "govuk-link") %>
    </p>
  </div>
</div>
