.app-c-answer-feedback {
  margin-left: govuk-spacing(7);
}

.app-c-answer-feedback__fieldset {
  min-width:0;
  margin:0;
  padding:0;
  border:0;
}

.app-c-answer-feedback__legend {
  float: left;
  padding: 0;
  margin-right: govuk-spacing(1);
  @include govuk-font($size: 19, $weight: regular);
}

.app-c-answer-feedback__fieldset[hidden], .app-c-answer-feedback__feedback-submitted[hidden] {
  display: none;
}

.app-c-answer-feedback__button {
  position: relative;
  background-color: transparent;
  border: none;
  color: govuk-colour("blue");
  margin: 0;
  padding: 0;
  cursor: pointer;
  @include govuk-font-size(19, $line-height: false, $important: false);
  @include govuk-link-common;
  @include govuk-link-style-default;
}
