.app-c-answer-feedback-form__button-group, .app-c-answer-feedback-form__feedback-submitted {
  margin-left: govuk-spacing(7);
}

.app-c-answer-feedback-form__button-group[hidden], .app-c-answer-feedback-form__feedback-submitted[hidden] {
  display: none;
}

.app-c-answer-feedback-form__button {
  background-color: transparent;
  border: none;
  color: govuk-colour("blue");
  margin: 0;
  padding: 0;
  cursor: pointer;
  @include govuk-typography-responsive(19, $override-line-height: false, $important: false);
  @include govuk-link-common;
  @include govuk-link-style-default;
}
