@import "govuk/components/header/header";
@import "mixins";

.app-c-header {
  .govuk-header__link--homepage {
    display: inline;
    border-bottom: 3px solid transparent;

    &:hover {
      margin-bottom: 0;
      border-bottom: 3px solid govuk-colour("white");
    }
  }

  .govuk-header__navigation-item {
    border-bottom: none;
    display: inline-block;
    margin-right: govuk-spacing(2);

    .govuk-header__link {
      font-size: 16px; // directly set the font size to prevent govuk-font mixins from reducing it on smaller screens
    }
  }

  .js-header-navigation-item {
    display: block;
    margin-top: govuk-spacing(1);
  }

  .govuk-header__navigation--end {
    text-align: left;
  }

  .govuk-js-header-toggle {
    margin-top: govuk-spacing(1);
    font-weight: 700;
    font-size: 16px; // directly set the font size to prevent govuk-font mixins from reducing it on smaller screens
    border-bottom: 3px solid transparent;
    padding: govuk-spacing(2) govuk-spacing(1);
    top: govuk-spacing(3);

    @include govuk-media-query($until: desktop) {
      margin-top: 0;
    }

    // removes the default chevron
    &::after {
      content: none;
    }

    &::before {
      @include chevron(govuk-colour("white"), false);
    }

    &:focus {
      background-color: govuk-colour("black");
      color: govuk-colour("white");
      box-shadow: none;
    }

    &:focus-visible {
      background-color: $govuk-focus-colour;
      color: govuk-colour("black");
      outline: none;
    }

    &:focus-visible::before {
      @include chevron(govuk-colour("black"), false);
    }

    &:hover {
      text-decoration: none;
      border-bottom: 3px solid govuk-colour("white");
    }
  }

  .app-c-header__menu-button {
    &--expanded {
      border-bottom: 3px solid govuk-colour("white");
    }

    &--expanded::before, &--expanded:focus-visible::before {
      @include prefixed-transform($rotate: 225deg, $translateY: 1px);
    }
  }
}

.app-c-header-row {
  margin: govuk-spacing(1) 0 govuk-spacing(3);
}

.app-c-header__link {
  @include govuk-media-query($until: 500px) {
    &::after {
      content: "\a";
      white-space: pre;
    }
  }
}

.app-c-header__container {
  border-bottom: govuk-spacing(2) solid govuk-colour("yellow");
}

.app-c-header__link--homepage {
  vertical-align: middle;
}

.app-c-header__product-name {
  font-size: 30px; // there currently isn't a mixin that produces a 30px font size
  font-weight: normal;
}

.app-c-header__tag {
  background-color: govuk-tint(govuk-colour("yellow"), 75%);
  color: govuk-colour("black");
  text-transform: capitalize;
  @include govuk-font($size: 19, $weight: regular);
  letter-spacing: 0;
  padding: 7px;
  margin-left: 3px;
  display: inline-block;
  vertical-align: middle;

  @include govuk-media-query($until: 500px) {
    margin-top: govuk-spacing(2);
  }
}

.app-c-header__nav-container--float-right-desktop {
  @include govuk-media-query($from: desktop) {
    width: auto;
    float: right;
  }
}
