.app-c-chat-introduction {
  padding: govuk-spacing(6) 0;
}

.app-c-chat-introduction__svg-container {
  line-height: 0;
  @include govuk-media-query($until: 480px) {
    margin-bottom: govuk-spacing(6);
  }
}

.app-c-chat-introduction__svg {
  @include govuk-media-query($until: 500px) {
    height: 70px;
    width: 70px;
  }
}

.app-c-chat-introduction__title {
  @include govuk-font($size: 48, $weight: bold);
  margin: govuk-spacing(6) 0 govuk-spacing(5);
}

.app-c-chat-introduction__lead-paragraph {
  @include govuk-font($size: 36, $weight: regular);
  margin-bottom: govuk-spacing(6);
}
