.app-c-onboarding-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: govuk-spacing(4);
  padding-top: govuk-spacing(4);

  .govuk-button, .govuk-link {
    flex: auto;
    margin: govuk-spacing(2);

    @include govuk-media-query($until: tablet) {
      margin: 0 0 govuk-spacing(2);
    }
  }

  .govuk-link {
    text-align: center;
    margin: auto 0;
    @include govuk-font($size: 19, $weight: regular);
  }

  @include govuk-media-query($until: tablet) {
    flex-direction: column;
    margin-bottom: govuk-spacing(1);
    padding-top: govuk-spacing(3);
  }
}
