.app-c-settings-audit-entry {
  margin-bottom: govuk-spacing(7);
}

.app-c-settings-audit-entry__action {
  margin-bottom: govuk-spacing(2);
  @include govuk-font($size: 19, $weight: bold);
}

.app-c-settings-audit-entry__author_comment {
  // margin to match .govuk-body margin bottom
  margin-top: govuk-spacing(3);
  @include govuk-media-query($from: tablet) {
    margin-top: govuk-spacing(4);
  }
}

.app-c-settings-audit-entry__authored {
  color: govuk-colour("dark-grey");
  margin-top: govuk-spacing(2);
  @include govuk-font($size: 19, $weight: regular);
}
