// Footer overrides
.gem-c-layout-footer {
  .govuk-footer__inline-list {
    margin-bottom: govuk-spacing(7);
  }

  .govuk-footer__inline-list-item {
    @include govuk-media-query($until: 800px) {
     display: block;
     margin-bottom: govuk-spacing(2); 
    }
  }
}

// The error summary component is used a bit differently in the conversation view - it's placed
// at the top of the message container with the other chat messages rather than at the top
// of the page. As such, we want to remove the bottom margin from this component because
// its default spacing causes an excessive gap between the component and the chat
// messages
.app-conversation-layout__alerts {
  .gem-c-error-summary.govuk-error-summary {
    margin-bottom: 0;
  }
}

.app-landing-page-layout {
  .govuk-header {
    border-bottom: none; // This is to prevent whitespace from appearing between the header and the landing page animation boxes
  }

  .gem-c-error-summary.govuk-error-summary {
    background-color: govuk-colour("white");
  }
}
