.govuk-header {
  background-color: govuk-colour("blue");
  min-height: 7rem;
  position: relative;
}

.govuk-header__container {
  position: static;
}

.govuk-header__logotype, .app-c-header__tag, .app-c-header .govuk-js-header-toggle  {
  display: none;
}

.app-c-header__product-name {
  font-weight: bold;
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;
}

.app-c-header__container {
 border-bottom: none;
}

.mobile-top-icons {
  display: flex;
  justify-content: space-between;
}

.mobile-top-icons__time {
  font-weight: bold;
  margin-left: 1rem;
}

.app-c-conversation-message__body {
  border-radius: 10px;
}

.app-c-question-form__input {
  border: 1px solid govuk-colour("mid-grey");
  border-radius: 10px;
}

.app-c-blue-button {
  color: govuk-colour("blue");
  font-weight: 500;
  background-color: govuk-tint(govuk-colour("light-blue"), 90%);
  border: 1px solid govuk-tint(govuk-colour("light-blue"), 50%);
  border-radius: 10px; 
  box-shadow: none;
}

.mobile-footer-icons {
  border-top: 1px solid govuk-colour("mid-grey");
  display: flex;
  justify-content: space-evenly;

  svg {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }
}
