@import "mixins";

.govuk-header {
  background-color: govuk-colour("blue");
  min-height: 7rem;
  position: relative;
}

.govuk-header__container {
  position: static;
}

.govuk-header__logotype, .app-c-header__tag, .app-c-header .govuk-js-header-toggle  {
  display: none;
}

.govuk-link, .app-c-conversation-message__body a {
  text-decoration: none;
}

.app-c-header__product-name {
  font-weight: bold;
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;
}

.app-c-header__container {
 border-bottom: none;
}

.mobile-top-icons {
  display: flex;
  justify-content: space-between;
}

.mobile-top-icons__time {
  font-weight: bold;
  margin-left: 1rem;
}

.app-c-conversation-message__body {
  border-radius: 10px;
}

.app-c-question-form__input {
  border: 1px solid govuk-colour("mid-grey");
  border-radius: 10px;
}

.app-c-blue-button {
  color: govuk-colour("blue");
  font-weight: 500;
  background-color: govuk-tint(govuk-colour("light-blue"), 90%);
  border: 1px solid govuk-tint(govuk-colour("light-blue"), 50%);
  border-radius: 10px; 
  box-shadow: none;
}

.mobile-footer-icons {
  border-top: 1px solid govuk-colour("mid-grey");
  display: flex;
  justify-content: space-evenly;

  svg {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }
}

.accuracy-warning {
  display: flex;

  svg {
    margin-right: 0.5rem;
  }

  p {
    width: 100%;
  }
}

.app-c-conversation-message {
  a::after {
    content: url('mobile_icons/android/open_link_icon.svg');
    margin-left: 5px;
    vertical-align: middle;
  }
}

.app-c-conversation-message__feedback {
  display: none;
}

.app-c-conversation-sources__details {
  position: relative;
}

.app-c-conversation-sources__summary::marker {
  content: "";
}

.app-c-conversation-sources__summary::after {
  @include chevron(govuk-colour("blue"), false);
  position: absolute;
  right: 0;
  top: 9px;
}

.app-c-conversation-sources-list {
  padding-left: 0;
}

.app-c-conversation-sources-list__item {
  list-style: none;
  position: relative;
  padding-bottom: govuk-spacing(3);
  border-bottom: 1px solid govuk-tint(govuk-colour("light-blue"), 50%);

  a::after {
    position: absolute;
    right: 0;
    top: 0
  }
}

.app-c-conversation-sources-list__item:last-of-type {
  border-bottom: none;
}
