<% users = filter.results %>

<p class="govuk-body govuk-!-font-weight-bold">
  <%= "#{users.total_count} #{'user'.pluralize(users.total_count)}" %>
</p>

<% if users.present? %>
  <%= render "govuk_publishing_components/components/table", {
    sortable: true,
    head: [
      {
        text: "Email",
        sort_direction: filter.sort_direction("email"),
        href: public_send(path, filter.toggleable_sort_params("email")),
      },
      {
        text: "Questions asked",
      },
      {
        text: "Last login",
        sort_direction: filter.sort_direction("last_login_at"),
        href: public_send(path, filter.toggleable_sort_params("-last_login_at")),
      },
      {
        text: "Access revoked?",
      },
    ],
    rows: users.map do |user|
      [
        {
          text: link_to(
            user.email,
            admin_early_access_user_path(user),
            class: "govuk-link",
          ),
        },
        {
          text: user.questions_count.zero? ? "0" : link_to(user.questions_count, admin_questions_path(user_id: user.id), class: "govuk-link"),
        },
        {
          text: user.last_login_at ? user.last_login_at.to_fs(:time_and_date) : "Never",
          format: user.last_login_at ? nil : "empty",
        },
        {
          text: user.access_revoked? ? "Yes" : "No",
        },
      ]
    end,
  } %>

  <%= render "govuk_publishing_components/components/previous_and_next_navigation",
    previous_and_next_page_hash(
      users,
      previous_page_url: public_send(path, filter.previous_page_params),
      next_page_url: public_send(path, filter.next_page_params),
    ) %>
<% else %>
  <%= render "govuk_publishing_components/components/inset_text", {
    text: "No users found.",
  } %>
<% end %>
