<%= content_for :title, "Early access users" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "users_table", {
      filter: @filter,
      path: :admin_early_access_users_path,
    } %>
  </div>
</div>
