<%
content_for(:title, "Early access users")
content_for(:active_navigation_item, admin_early_access_users_path)
%>

<%= render "govuk_publishing_components/components/button", {
  text: "Add user",
  href: new_admin_early_access_user_path,
  margin_bottom: true,
} %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <%= render "user_filters", filter: @filter %>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <%= render "users_table", {
      filter: @filter,
      path: :admin_early_access_users_path,
    } %>
  </div>
</div>
