openapi: "3.0.4"
info:
  title: GOV.UK Chat API
  description: |
    Initial, proof of concept of documenting what an API for GOV.UK Chat
    could be that reflects current system modelling.
    It is intended to help shape chats with the app team about capabilities
    of chat in app and inform design decisions.

    Worth noting that onboarding aspects of conversation (Informing user of
    limitations and accepting) are not included as within GOV.UK Chat these
    are a UI construct and not a part of core domain constructs.
  version: "0.1.0"
servers:
  - url: https://chat.publishing.service.gov.uk/api/v0
paths:
  /conversation:
    post:
      summary: Start conversation
      description: Create a conversation by posting an initial question
      parameters:
        - $ref: "#/components/parameters/DeviceIdHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UserQuestion"
      responses:
        "201":
          description: Successfully created first question in a conversation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PendingQuestion"
          headers:
            Govuk-Api-User-Write-RateLimit-Limit:
              $ref: '#/components/headers/GovukApiUserWriteRateLimitLimit'
            Govuk-Api-User-Write-RateLimit-Remaining:
              $ref: '#/components/headers/GovukApiUserWriteRateLimitRemaining'
            Govuk-Api-User-Write-RateLimit-Reset:
              $ref: '#/components/headers/GovukApiUserWriteRateLimitReset'
            Govuk-Client-Device-Id-Write-RateLimit-Limit:
              $ref: '#/components/headers/GovukClientDeviceIdWriteRateLimitLimit'
            Govuk-Client-Device-Id-Write-RateLimit-Remaining:
              $ref: '#/components/headers/GovukClientDeviceIdWriteRateLimitRemaining'
            Govuk-Client-Device-Id-Write-RateLimit-Reset:
              $ref: '#/components/headers/GovukClientDeviceIdWriteRateLimitReset'
        "422":
          description: |
            Validation error on question submission (such as PII in question)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
          headers:
            Govuk-Api-User-Write-RateLimit-Limit:
              $ref: '#/components/headers/GovukApiUserWriteRateLimitLimit'
            Govuk-Api-User-Write-RateLimit-Remaining:
              $ref: '#/components/headers/GovukApiUserWriteRateLimitRemaining'
            Govuk-Api-User-Write-RateLimit-Reset:
              $ref: '#/components/headers/GovukApiUserWriteRateLimitReset'
            Govuk-Client-Device-Id-Write-RateLimit-Limit:
              $ref: '#/components/headers/GovukClientDeviceIdWriteRateLimitLimit'
            Govuk-Client-Device-Id-Write-RateLimit-Remaining:
              $ref: '#/components/headers/GovukClientDeviceIdWriteRateLimitRemaining'
            Govuk-Client-Device-Id-Write-RateLimit-Reset:
              $ref: '#/components/headers/GovukClientDeviceIdWriteRateLimitReset'
        "429":
          description: |
            Too many requests to write endpoints from an Api User or Device ID
          headers:
            Govuk-Api-User-Write-RateLimit-Limit:
              $ref: '#/components/headers/GovukApiUserWriteRateLimitLimit'
            Govuk-Api-User-Write-RateLimit-Remaining:
              $ref: '#/components/headers/GovukApiUserWriteRateLimitRemaining'
            Govuk-Api-User-Write-RateLimit-Reset:
              $ref: '#/components/headers/GovukApiUserWriteRateLimitReset'
            Govuk-Client-Device-Id-Write-RateLimit-Limit:
              $ref: '#/components/headers/GovukClientDeviceIdWriteRateLimitLimit'
            Govuk-Client-Device-Id-Write-RateLimit-Remaining:
              $ref: '#/components/headers/GovukClientDeviceIdWriteRateLimitRemaining'
            Govuk-Client-Device-Id-Write-RateLimit-Reset:
              $ref: '#/components/headers/GovukClientDeviceIdWriteRateLimitReset'

  /conversation/{conversation_id}:
    get:
      summary: Retrieve a conversation
      description: |
        Accesses the questions of a conversation should a conversation with
        the id be available.
      parameters:
        - name: conversation_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/DeviceIdHeader"
      responses:
        "200":
          description: |
            Returns a list of AnsweredQuestions with potentially one PendingQuestion.
            Is limited to returning 500 questions for a conversation and only
            questions asked within last 90 days.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Conversation"
          headers:
            Govuk-Api-User-Read-RateLimit-Limit:
              $ref: '#/components/headers/GovukApiUserReadRateLimitLimit'
            Govuk-Api-User-Read-RateLimit-Remaining:
              $ref: '#/components/headers/GovukApiUserReadRateLimitRemaining'
            Govuk-Api-User-Read-RateLimit-Reset:
              $ref: '#/components/headers/GovukApiUserReadRateLimitReset'
            Govuk-Client-Device-Id-Read-RateLimit-Limit:
              $ref: '#/components/headers/GovukClientDeviceIdReadRateLimitLimit'
            Govuk-Client-Device-Id-Read-RateLimit-Remaining:
              $ref: '#/components/headers/GovukClientDeviceIdReadRateLimitRemaining'
            Govuk-Client-Device-Id-Read-RateLimit-Reset:
              $ref: '#/components/headers/GovukClientDeviceIdReadRateLimitReset'
        "404":
          description: |
            Either a conversation never existed with this id or has now expired
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          headers:
            Govuk-Api-User-Read-RateLimit-Limit:
              $ref: '#/components/headers/GovukApiUserReadRateLimitLimit'
            Govuk-Api-User-Read-RateLimit-Remaining:
              $ref: '#/components/headers/GovukApiUserReadRateLimitRemaining'
            Govuk-Api-User-Read-RateLimit-Reset:
              $ref: '#/components/headers/GovukApiUserReadRateLimitReset'
            Govuk-Client-Device-Id-Read-RateLimit-Limit:
              $ref: '#/components/headers/GovukClientDeviceIdReadRateLimitLimit'
            Govuk-Client-Device-Id-Read-RateLimit-Remaining:
              $ref: '#/components/headers/GovukClientDeviceIdReadRateLimitRemaining'
            Govuk-Client-Device-Id-Read-RateLimit-Reset:
              $ref: '#/components/headers/GovukClientDeviceIdReadRateLimitReset'
        "429":
          description: |
            Too many requests to read endpoints from an Api User or Device ID
          headers:
            Govuk-Api-User-Write-RateLimit-Limit:
              $ref: '#/components/headers/GovukApiUserReadRateLimitLimit'
            Govuk-Api-User-Read-RateLimit-Remaining:
              $ref: '#/components/headers/GovukApiUserReadRateLimitRemaining'
            Govuk-Api-User-Read-RateLimit-Reset:
              $ref: '#/components/headers/GovukApiUserReadRateLimitReset'
            Govuk-Client-Device-Id-Read-RateLimit-Limit:
              $ref: '#/components/headers/GovukClientDeviceIdReadRateLimitLimit'
            Govuk-Client-Device-Id-Read-RateLimit-Remaining:
              $ref: '#/components/headers/GovukClientDeviceIdReadRateLimitRemaining'
            Govuk-Client-Device-Id-Read-RateLimit-Reset:
              $ref: '#/components/headers/GovukClientDeviceIdReadRateLimitReset'

    put:
      summary: Update a conversation with a new question
      description: |
        Add an additional question to a conversation, requires a conversation
        to not have a pending question.
      parameters:
        - name: conversation_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/DeviceIdHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UserQuestion"
      responses:
        "201":
          description: Successfully added a new question
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PendingQuestion"
          headers:
            Govuk-Api-User-Write-RateLimit-Limit:
              $ref: '#/components/headers/GovukApiUserWriteRateLimitLimit'
            Govuk-Api-User-Write-RateLimit-Remaining:
              $ref: '#/components/headers/GovukApiUserWriteRateLimitRemaining'
            Govuk-Api-User-Write-RateLimit-Reset:
              $ref: '#/components/headers/GovukApiUserWriteRateLimitReset'
            Govuk-Client-Device-Id-Write-RateLimit-Limit:
              $ref: '#/components/headers/GovukClientDeviceIdWriteRateLimitLimit'
            Govuk-Client-Device-Id-Write-RateLimit-Remaining:
              $ref: '#/components/headers/GovukClientDeviceIdWriteRateLimitRemaining'
            Govuk-Client-Device-Id-Write-RateLimit-Reset:
              $ref: '#/components/headers/GovukClientDeviceIdWriteRateLimitReset'
        "422":
          description: |
            Validation error on question submission (such as PII in question
            or user already has a pending question)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
          headers:
            Govuk-Api-User-Write-RateLimit-Limit:
              $ref: '#/components/headers/GovukApiUserWriteRateLimitLimit'
            Govuk-Api-User-Write-RateLimit-Remaining:
              $ref: '#/components/headers/GovukApiUserWriteRateLimitRemaining'
            Govuk-Api-User-Write-RateLimit-Reset:
              $ref: '#/components/headers/GovukApiUserWriteRateLimitReset'
            Govuk-Client-Device-Id-Write-RateLimit-Limit:
              $ref: '#/components/headers/GovukClientDeviceIdWriteRateLimitLimit'
            Govuk-Client-Device-Id-Write-RateLimit-Remaining:
              $ref: '#/components/headers/GovukClientDeviceIdWriteRateLimitRemaining'
            Govuk-Client-Device-Id-Write-RateLimit-Reset:
              $ref: '#/components/headers/GovukClientDeviceIdWriteRateLimitReset'
        "429":
          description: |
            Too many requests to write endpoints from an Api User or Device ID
          headers:
            Govuk-Api-User-Write-RateLimit-Limit:
              $ref: '#/components/headers/GovukApiUserWriteRateLimitLimit'
            Govuk-Api-User-Write-RateLimit-Remaining:
              $ref: '#/components/headers/GovukApiUserWriteRateLimitRemaining'
            Govuk-Api-User-Write-RateLimit-Reset:
              $ref: '#/components/headers/GovukApiUserWriteRateLimitReset'
            Govuk-Client-Device-Id-Write-RateLimit-Limit:
              $ref: '#/components/headers/GovukClientDeviceIdWriteRateLimitLimit'
            Govuk-Client-Device-Id-Write-RateLimit-Remaining:
              $ref: '#/components/headers/GovukClientDeviceIdWriteRateLimitRemaining'
            Govuk-Client-Device-Id-Write-RateLimit-Reset:
              $ref: '#/components/headers/GovukClientDeviceIdWriteRateLimitReset'

  /conversation/{conversation_id}/questions:
    get:
      summary: Retrieve a conversation's answered questions
      description: |
        Accesses the answered questions of a conversation should a conversation with
        the id be available.
      parameters:
        - name: conversation_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: before
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: after
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/DeviceIdHeader"
      responses:
        "200":
          description: |
            Returns an array of AnsweredQuestions. Is limited to returning 500
            questions for a conversation and only questions asked within last
            90 days.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AnsweredQuestion"
          headers:
            Govuk-Api-User-Read-RateLimit-Limit:
              $ref: '#/components/headers/GovukApiUserReadRateLimitLimit'
            Govuk-Api-User-Read-RateLimit-Remaining:
              $ref: '#/components/headers/GovukApiUserReadRateLimitRemaining'
            Govuk-Api-User-Read-RateLimit-Reset:
              $ref: '#/components/headers/GovukApiUserReadRateLimitReset'
            Govuk-Client-Device-Id-Read-RateLimit-Limit:
              $ref: '#/components/headers/GovukClientDeviceIdReadRateLimitLimit'
            Govuk-Client-Device-Id-Read-RateLimit-Remaining:
              $ref: '#/components/headers/GovukClientDeviceIdReadRateLimitRemaining'
            Govuk-Client-Device-Id-Read-RateLimit-Reset:
              $ref: '#/components/headers/GovukClientDeviceIdReadRateLimitReset'
        "404":
          description: |
            Either a conversation never existed with this id or has now expired.
            Will also be rendered if the `before` or `after` parameters reference
            records that do not exist.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          headers:
            Govuk-Api-User-Read-RateLimit-Limit:
              $ref: '#/components/headers/GovukApiUserReadRateLimitLimit'
            Govuk-Api-User-Read-RateLimit-Remaining:
              $ref: '#/components/headers/GovukApiUserReadRateLimitRemaining'
            Govuk-Api-User-Read-RateLimit-Reset:
              $ref: '#/components/headers/GovukApiUserReadRateLimitReset'
            Govuk-Client-Device-Id-Read-RateLimit-Limit:
              $ref: '#/components/headers/GovukClientDeviceIdReadRateLimitLimit'
            Govuk-Client-Device-Id-Read-RateLimit-Remaining:
              $ref: '#/components/headers/GovukClientDeviceIdReadRateLimitRemaining'
            Govuk-Client-Device-Id-Read-RateLimit-Reset:
              $ref: '#/components/headers/GovukClientDeviceIdReadRateLimitReset'
        "429":
          description: |
            Too many requests to read endpoints from an Api User or Device ID
          headers:
            Govuk-Api-User-Write-RateLimit-Limit:
              $ref: '#/components/headers/GovukApiUserReadRateLimitLimit'
            Govuk-Api-User-Read-RateLimit-Remaining:
              $ref: '#/components/headers/GovukApiUserReadRateLimitRemaining'
            Govuk-Api-User-Read-RateLimit-Reset:
              $ref: '#/components/headers/GovukApiUserReadRateLimitReset'
            Govuk-Client-Device-Id-Read-RateLimit-Limit:
              $ref: '#/components/headers/GovukClientDeviceIdReadRateLimitLimit'
            Govuk-Client-Device-Id-Read-RateLimit-Remaining:
              $ref: '#/components/headers/GovukClientDeviceIdReadRateLimitRemaining'
            Govuk-Client-Device-Id-Read-RateLimit-Reset:
              $ref: '#/components/headers/GovukClientDeviceIdReadRateLimitReset'

  /conversation/{conversation_id}/questions/{question_id}/answer:
    get:
      summary: Look up the answer to a question
      description: |
        This endpoint is intended to be polled while awaiting an answer to a
        question
      parameters:
        - name: conversation_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: question_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/DeviceIdHeader"
      responses:
        "200":
          description: The answer is available and is returned
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Answer"
          headers:
            Govuk-Api-User-Read-RateLimit-Limit:
              $ref: '#/components/headers/GovukApiUserReadRateLimitLimit'
            Govuk-Api-User-Read-RateLimit-Remaining:
              $ref: '#/components/headers/GovukApiUserReadRateLimitRemaining'
            Govuk-Api-User-Read-RateLimit-Reset:
              $ref: '#/components/headers/GovukApiUserReadRateLimitReset'
            Govuk-Client-Device-Id-Read-RateLimit-Limit:
              $ref: '#/components/headers/GovukClientDeviceIdReadRateLimitLimit'
            Govuk-Client-Device-Id-Read-RateLimit-Remaining:
              $ref: '#/components/headers/GovukClientDeviceIdReadRateLimitRemaining'
            Govuk-Client-Device-Id-Read-RateLimit-Reset:
              $ref: '#/components/headers/GovukClientDeviceIdReadRateLimitReset'
        "202":
          description: The answer is still being generated
          headers:
            Govuk-Api-User-Read-RateLimit-Limit:
              $ref: '#/components/headers/GovukApiUserReadRateLimitLimit'
            Govuk-Api-User-Read-RateLimit-Remaining:
              $ref: '#/components/headers/GovukApiUserReadRateLimitRemaining'
            Govuk-Api-User-Read-RateLimit-Reset:
              $ref: '#/components/headers/GovukApiUserReadRateLimitReset'
            Govuk-Client-Device-Id-Read-RateLimit-Limit:
              $ref: '#/components/headers/GovukClientDeviceIdReadRateLimitLimit'
            Govuk-Client-Device-Id-Read-RateLimit-Remaining:
              $ref: '#/components/headers/GovukClientDeviceIdReadRateLimitRemaining'
            Govuk-Client-Device-Id-Read-RateLimit-Reset:
              $ref: '#/components/headers/GovukClientDeviceIdReadRateLimitReset'
        "404":
          description: Conversation or question do not exist
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          headers:
            Govuk-Api-User-Read-RateLimit-Limit:
              $ref: '#/components/headers/GovukApiUserReadRateLimitLimit'
            Govuk-Api-User-Read-RateLimit-Remaining:
              $ref: '#/components/headers/GovukApiUserReadRateLimitRemaining'
            Govuk-Api-User-Read-RateLimit-Reset:
              $ref: '#/components/headers/GovukApiUserReadRateLimitReset'
            Govuk-Client-Device-Id-Read-RateLimit-Limit:
              $ref: '#/components/headers/GovukClientDeviceIdReadRateLimitLimit'
            Govuk-Client-Device-Id-Read-RateLimit-Remaining:
              $ref: '#/components/headers/GovukClientDeviceIdReadRateLimitRemaining'
            Govuk-Client-Device-Id-Read-RateLimit-Reset:
              $ref: '#/components/headers/GovukClientDeviceIdReadRateLimitReset'
        "429":
          description: |
            Too many requests to read endpoints from an Api User or Device ID
          headers:
            Govuk-Api-User-Write-RateLimit-Limit:
              $ref: '#/components/headers/GovukApiUserReadRateLimitLimit'
            Govuk-Api-User-Read-RateLimit-Remaining:
              $ref: '#/components/headers/GovukApiUserReadRateLimitRemaining'
            Govuk-Api-User-Read-RateLimit-Reset:
              $ref: '#/components/headers/GovukApiUserReadRateLimitReset'
            Govuk-Client-Device-Id-Read-RateLimit-Limit:
              $ref: '#/components/headers/GovukClientDeviceIdReadRateLimitLimit'
            Govuk-Client-Device-Id-Read-RateLimit-Remaining:
              $ref: '#/components/headers/GovukClientDeviceIdReadRateLimitRemaining'
            Govuk-Client-Device-Id-Read-RateLimit-Reset:
              $ref: '#/components/headers/GovukClientDeviceIdReadRateLimitReset'

  /conversation/{conversation_id}/answers/{answer_id}/feedback:
    post:
      summary: Provide user feedback on an individual answer
      description: |
        A user can provide feedback on an answer defining it as useful or not,
        once a user has set this it cannot be changed or removed
      parameters:
        - name: conversation_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: answer_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/DeviceIdHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - useful
              properties:
                useful:
                  type: boolean
      responses:
        "201":
          description: Feedback successfully submitted
          headers:
            Govuk-Api-User-Write-RateLimit-Limit:
              $ref: '#/components/headers/GovukApiUserWriteRateLimitLimit'
            Govuk-Api-User-Write-RateLimit-Remaining:
              $ref: '#/components/headers/GovukApiUserWriteRateLimitRemaining'
            Govuk-Api-User-Write-RateLimit-Reset:
              $ref: '#/components/headers/GovukApiUserWriteRateLimitReset'
            Govuk-Client-Device-Id-Write-RateLimit-Limit:
              $ref: '#/components/headers/GovukClientDeviceIdWriteRateLimitLimit'
            Govuk-Client-Device-Id-Write-RateLimit-Remaining:
              $ref: '#/components/headers/GovukClientDeviceIdWriteRateLimitRemaining'
            Govuk-Client-Device-Id-Write-RateLimit-Reset:
              $ref: '#/components/headers/GovukClientDeviceIdWriteRateLimitReset'
        "422":
          description: Validation error processing the feedback
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
          headers:
            Govuk-Api-User-Write-RateLimit-Limit:
              $ref: '#/components/headers/GovukApiUserWriteRateLimitLimit'
            Govuk-Api-User-Write-RateLimit-Remaining:
              $ref: '#/components/headers/GovukApiUserWriteRateLimitRemaining'
            Govuk-Api-User-Write-RateLimit-Reset:
              $ref: '#/components/headers/GovukApiUserWriteRateLimitReset'
            Govuk-Client-Device-Id-Write-RateLimit-Limit:
              $ref: '#/components/headers/GovukClientDeviceIdWriteRateLimitLimit'
            Govuk-Client-Device-Id-Write-RateLimit-Remaining:
              $ref: '#/components/headers/GovukClientDeviceIdWriteRateLimitRemaining'
            Govuk-Client-Device-Id-Write-RateLimit-Reset:
              $ref: '#/components/headers/GovukClientDeviceIdWriteRateLimitReset'
        "404":
          description: Conversation or answer does not exist
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          headers:
            Govuk-Api-User-Write-RateLimit-Limit:
              $ref: '#/components/headers/GovukApiUserWriteRateLimitLimit'
            Govuk-Api-User-Write-RateLimit-Remaining:
              $ref: '#/components/headers/GovukApiUserWriteRateLimitRemaining'
            Govuk-Api-User-Write-RateLimit-Reset:
              $ref: '#/components/headers/GovukApiUserWriteRateLimitReset'
            Govuk-Client-Device-Id-Write-RateLimit-Limit:
              $ref: '#/components/headers/GovukClientDeviceIdWriteRateLimitLimit'
            Govuk-Client-Device-Id-Write-RateLimit-Remaining:
              $ref: '#/components/headers/GovukClientDeviceIdWriteRateLimitRemaining'
            Govuk-Client-Device-Id-Write-RateLimit-Reset:
              $ref: '#/components/headers/GovukClientDeviceIdWriteRateLimitReset'
        "429":
          description: |
            Too many requests to write endpoints from an Api User or Device ID
          headers:
            Govuk-Api-User-Write-RateLimit-Limit:
              $ref: '#/components/headers/GovukApiUserWriteRateLimitLimit'
            Govuk-Api-User-Write-RateLimit-Remaining:
              $ref: '#/components/headers/GovukApiUserWriteRateLimitRemaining'
            Govuk-Api-User-Write-RateLimit-Reset:
              $ref: '#/components/headers/GovukApiUserWriteRateLimitReset'
            Govuk-Client-Device-Id-Write-RateLimit-Limit:
              $ref: '#/components/headers/GovukClientDeviceIdWriteRateLimitLimit'
            Govuk-Client-Device-Id-Write-RateLimit-Remaining:
              $ref: '#/components/headers/GovukClientDeviceIdWriteRateLimitRemaining'
            Govuk-Client-Device-Id-Write-RateLimit-Reset:
              $ref: '#/components/headers/GovukClientDeviceIdWriteRateLimitReset'


security:
  - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      description: |
        GOV.UK Signon issued bearer token which is used to authenticate the
        client application (e.g. GOV.UK App) and not an individual end user
      scheme: bearer
  parameters:
    DeviceIdHeader:
      name: Govuk-Chat-Client-Device-Id
      in: header
      required: false
      description: |
        An identifier for an individual end-user client to be used to provide
        individual end-user rate limiting to ensure that no one client can
        consume all of an API users' limits.
      schema:
        type: string
  headers:
    GovukApiUserReadRateLimitLimit:
      description: The request limit for the API user in the current period.
      schema:
        type: string
    GovukApiUserReadRateLimitRemaining:
      description: The number of remaining requests for the API user in the current period.
      schema:
        type: string
    GovukApiUserReadRateLimitReset:
      description: |
        Time remaining in seconds until the read request limit is reset for the API User.
        If the api user is currently at the limit, this is the time until next request can be made without returning
        a 429 Too Many Requests response.
      schema:
        type: string
    GovukClientDeviceIdReadRateLimitLimit:
      description: The request limit for the Device ID in the current period.
      schema:
        type: string
    GovukClientDeviceIdReadRateLimitRemaining:
      description: The number of remaining requests for the Device ID in the current period.
      schema:
        type: string
    GovukClientDeviceIdReadRateLimitReset:
      description: |
        Time remaining in seconds until the read request limit is reset for the Device ID.
        If the Device ID is currently at the limit, this is the time until next request can be made without returning
        a 429 Too Many Requests response.
      schema:
        type: string
    GovukApiUserWriteRateLimitLimit:
      description: The request limit for API User writes in the current period.
      schema:
        type: string
    GovukApiUserWriteRateLimitRemaining:
      description: The number of remaining API User write requests in the current period.
      schema:
        type: string
    GovukApiUserWriteRateLimitReset:
      description: |
        Time remaining in seconds until the write request limit is reset for the API User.
        If the api user is currently at the limit, this is the time until next request can be made without returning
        a 429 Too Many Requests response.
      schema:
        type: string
    GovukClientDeviceIdWriteRateLimitLimit:
      description: The request limit for Device ID writes in the current period.
      schema:
        type: string
    GovukClientDeviceIdWriteRateLimitRemaining:
      description: The number of remaining Device ID write requests in the current period.
      schema:
        type: string
    GovukClientDeviceIdWriteRateLimitReset:
      description: |
        Time remaining in seconds until the write request limit is reset for the Device ID.
        If the Device ID is currently at the limit, this is the time until next request can be made without returning
        a 429 Too Many Requests response.
      schema:
        type: string
  schemas:
    UserQuestion:
      type: object
      required:
        - user_question
      properties:
        user_question:
          type: string
    Conversation:
      type: object
      required:
        - id
        - answered_questions
        - created_at
      properties:
        answered_questions:
          type: array
          items:
            $ref: "#/components/schemas/AnsweredQuestion"
        pending_question:
          $ref: "#/components/schemas/PendingQuestion"
        created_at:
          type: string
          format: date-time
    AnsweredQuestion:
      type: object
      required:
        - id
        - conversation_id
        - message
        - answer
        - created_at
      properties:
        id:
          type: string
          format: uuid
        conversation_id:
          type: string
          format: uuid
        message:
          description: The question the user provided in plain text
          type: string
        answer:
          $ref: "#/components/schemas/Answer"
        created_at:
          type: string
          format: date-time
    PendingQuestion:
      type: object
      required:
        - id
        - conversation_id
        - message
        - answer_url
        - created_at
      properties:
        id:
          type: string
          format: uuid
        conversation_id:
          type: string
          format: uuid
        message:
          description: The question the user provided in plain text
          type: string
        answer_url:
          description: |
            A relative URL that can be polled to check whether the answer is available
          type: string
          format: uri
        created_at:
          type: string
          format: date-time
    Answer:
      type: object
      required:
        - id
        - created_at
        - message
      properties:
        id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        message:
          description: |
            The LLM generated answer returned in markdown format.

            Soft line breaks should not be treated as hard line breaks.
          type: string
        useful:
          description: |
            Whether a user has flagged this answer as useful or not
          type: boolean
        sources:
          type: array
          items:
            $ref: "#/components/schemas/AnswerSource"
    AnswerSource:
      type: object
      required:
        - title
        - url
      properties:
        title:
          description: Title of the GOV.UK document used
          type: string
        heading:
          description: Heading of the section used for content
          type: string
        url:
          description: |
            URL of the page on GOV.UK that was used to generate answer
            with potentially a fragment to appropriate section
          type: string
          format: uri
    GenericError:
      type: object
      required:
        - message
      properties:
        message:
          type: string
    ValidationError:
      type: object
      required:
        - message
        - errors
      properties:
        message:
          type: string
        errors:
          description: |
            an object structure of field name to an array of errors
          type: object
          additionalProperties:
            type: array
            items:
              type: string
