openapi: "3.0.4"
info:
  title: GOV.UK Chat API
  description: |
    HTTP API interface for interacting with GOV.UK Chat. This API is intended
    to provide the conversation experience for end user interaction with
    GOV.UK Chat.

    It represents an initial release of an API that closely models GOV.UK Chat's
    private beta web experience.

    ## Rate limits

    Usage of this API is rate-limited on a requests per minute (RPM) basis.
    There are rate limits applied to individual clients (Signon users). A
    client may also send a header `Govuk-Chat-End-User-Id` for an
    additional rate limit to be applied to an end user. There are distinct
    rate limits for read requests (GET, HEAD) and write requests (POST, PATCH,
    PUT, DELETE).

    | User type | Write request limit | Read request limit |
    |-----------|---------------------|--------------------|
    | API User  | 200 RPM             | 2,400 RPM          |
    | End User  | 15 RPM              | 180 RPM            |

  version: "0.5.0"
servers:
  - url: https://chat.publishing.service.gov.uk/api/v1
paths:
  /conversation:
    post:
      summary: Start conversation
      description: Create a conversation by posting an initial question
      parameters:
        - $ref: "#/components/parameters/EndUserIdHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UserQuestion"
      responses:
        "201":
          description: Successfully created first question in a conversation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PendingQuestion"
          headers:
            Govuk-Api-User-Write-RateLimit-Limit:
              $ref: '#/components/headers/GovukApiUserWriteRateLimitLimit'
            Govuk-Api-User-Write-RateLimit-Remaining:
              $ref: '#/components/headers/GovukApiUserWriteRateLimitRemaining'
            Govuk-Api-User-Write-RateLimit-Reset:
              $ref: '#/components/headers/GovukApiUserWriteRateLimitReset'
            Govuk-End-User-Id-Write-RateLimit-Limit:
              $ref: '#/components/headers/GovukEndUserIdWriteRateLimitLimit'
            Govuk-End-User-Id-Write-RateLimit-Remaining:
              $ref: '#/components/headers/GovukEndUserIdWriteRateLimitRemaining'
            Govuk-End-User-Id-Write-RateLimit-Reset:
              $ref: '#/components/headers/GovukEndUserIdWriteRateLimitReset'
        "422":
          description: |
            Validation error on question submission (such as PII in question)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
          headers:
            Govuk-Api-User-Write-RateLimit-Limit:
              $ref: '#/components/headers/GovukApiUserWriteRateLimitLimit'
            Govuk-Api-User-Write-RateLimit-Remaining:
              $ref: '#/components/headers/GovukApiUserWriteRateLimitRemaining'
            Govuk-Api-User-Write-RateLimit-Reset:
              $ref: '#/components/headers/GovukApiUserWriteRateLimitReset'
            Govuk-End-User-Id-Write-RateLimit-Limit:
              $ref: '#/components/headers/GovukEndUserIdWriteRateLimitLimit'
            Govuk-End-User-Id-Write-RateLimit-Remaining:
              $ref: '#/components/headers/GovukEndUserIdWriteRateLimitRemaining'
            Govuk-End-User-Id-Write-RateLimit-Reset:
              $ref: '#/components/headers/GovukEndUserIdWriteRateLimitReset'
        "429":
          description: |
            Too many requests to write endpoints from an API User or End User ID
          headers:
            Govuk-Api-User-Write-RateLimit-Limit:
              $ref: '#/components/headers/GovukApiUserWriteRateLimitLimit'
            Govuk-Api-User-Write-RateLimit-Remaining:
              $ref: '#/components/headers/GovukApiUserWriteRateLimitRemaining'
            Govuk-Api-User-Write-RateLimit-Reset:
              $ref: '#/components/headers/GovukApiUserWriteRateLimitReset'
            Govuk-End-User-Id-Write-RateLimit-Limit:
              $ref: '#/components/headers/GovukEndUserIdWriteRateLimitLimit'
            Govuk-End-User-Id-Write-RateLimit-Remaining:
              $ref: '#/components/headers/GovukEndUserIdWriteRateLimitRemaining'
            Govuk-End-User-Id-Write-RateLimit-Reset:
              $ref: '#/components/headers/GovukEndUserIdWriteRateLimitReset'

  /conversation/{conversation_id}:
    get:
      summary: Retrieve a conversation
      description: |
        Accesses the questions of a conversation should a conversation with
        the id be available.
      parameters:
        - name: conversation_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/EndUserIdHeader"
      responses:
        "200":
          description: |
            Returns a list of AnsweredQuestions with potentially one PendingQuestion.
            Is limited to returning 50 questions for a conversation and only
            questions asked within last 90 days.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Conversation"
          headers:
            Govuk-Api-User-Read-RateLimit-Limit:
              $ref: '#/components/headers/GovukApiUserReadRateLimitLimit'
            Govuk-Api-User-Read-RateLimit-Remaining:
              $ref: '#/components/headers/GovukApiUserReadRateLimitRemaining'
            Govuk-Api-User-Read-RateLimit-Reset:
              $ref: '#/components/headers/GovukApiUserReadRateLimitReset'
            Govuk-End-User-Id-Read-RateLimit-Limit:
              $ref: '#/components/headers/GovukEndUserIdReadRateLimitLimit'
            Govuk-End-User-Id-Read-RateLimit-Remaining:
              $ref: '#/components/headers/GovukEndUserIdReadRateLimitRemaining'
            Govuk-End-User-Id-Read-RateLimit-Reset:
              $ref: '#/components/headers/GovukEndUserIdReadRateLimitReset'
        "404":
          description: |
            Either a conversation never existed with this id or has now expired
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          headers:
            Govuk-Api-User-Read-RateLimit-Limit:
              $ref: '#/components/headers/GovukApiUserReadRateLimitLimit'
            Govuk-Api-User-Read-RateLimit-Remaining:
              $ref: '#/components/headers/GovukApiUserReadRateLimitRemaining'
            Govuk-Api-User-Read-RateLimit-Reset:
              $ref: '#/components/headers/GovukApiUserReadRateLimitReset'
            Govuk-End-User-Id-Read-RateLimit-Limit:
              $ref: '#/components/headers/GovukEndUserIdReadRateLimitLimit'
            Govuk-End-User-Id-Read-RateLimit-Remaining:
              $ref: '#/components/headers/GovukEndUserIdReadRateLimitRemaining'
            Govuk-End-User-Id-Read-RateLimit-Reset:
              $ref: '#/components/headers/GovukEndUserIdReadRateLimitReset'
        "429":
          description: |
            Too many requests to read endpoints from an API User or End User ID
          headers:
            Govuk-Api-User-Write-RateLimit-Limit:
              $ref: '#/components/headers/GovukApiUserWriteRateLimitLimit'
            Govuk-Api-User-Read-RateLimit-Remaining:
              $ref: '#/components/headers/GovukApiUserReadRateLimitRemaining'
            Govuk-Api-User-Read-RateLimit-Reset:
              $ref: '#/components/headers/GovukApiUserReadRateLimitReset'
            Govuk-End-User-Id-Read-RateLimit-Limit:
              $ref: '#/components/headers/GovukEndUserIdReadRateLimitLimit'
            Govuk-End-User-Id-Read-RateLimit-Remaining:
              $ref: '#/components/headers/GovukEndUserIdReadRateLimitRemaining'
            Govuk-End-User-Id-Read-RateLimit-Reset:
              $ref: '#/components/headers/GovukEndUserIdReadRateLimitReset'

    put:
      summary: Update a conversation with a new question
      description: |
        Add an additional question to a conversation, requires a conversation
        to not have a pending question.
      parameters:
        - name: conversation_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/EndUserIdHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UserQuestion"
      responses:
        "201":
          description: Successfully added a new question
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PendingQuestion"
          headers:
            Govuk-Api-User-Write-RateLimit-Limit:
              $ref: '#/components/headers/GovukApiUserWriteRateLimitLimit'
            Govuk-Api-User-Write-RateLimit-Remaining:
              $ref: '#/components/headers/GovukApiUserWriteRateLimitRemaining'
            Govuk-Api-User-Write-RateLimit-Reset:
              $ref: '#/components/headers/GovukApiUserWriteRateLimitReset'
            Govuk-End-User-Id-Write-RateLimit-Limit:
              $ref: '#/components/headers/GovukEndUserIdWriteRateLimitLimit'
            Govuk-End-User-Id-Write-RateLimit-Remaining:
              $ref: '#/components/headers/GovukEndUserIdWriteRateLimitRemaining'
            Govuk-End-User-Id-Write-RateLimit-Reset:
              $ref: '#/components/headers/GovukEndUserIdWriteRateLimitReset'
        "422":
          description: |
            Validation error on question submission (such as PII in question
            or user already has a pending question)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
          headers:
            Govuk-Api-User-Write-RateLimit-Limit:
              $ref: '#/components/headers/GovukApiUserWriteRateLimitLimit'
            Govuk-Api-User-Write-RateLimit-Remaining:
              $ref: '#/components/headers/GovukApiUserWriteRateLimitRemaining'
            Govuk-Api-User-Write-RateLimit-Reset:
              $ref: '#/components/headers/GovukApiUserWriteRateLimitReset'
            Govuk-End-User-Id-Write-RateLimit-Limit:
              $ref: '#/components/headers/GovukEndUserIdWriteRateLimitLimit'
            Govuk-End-User-Id-Write-RateLimit-Remaining:
              $ref: '#/components/headers/GovukEndUserIdWriteRateLimitRemaining'
            Govuk-End-User-Id-Write-RateLimit-Reset:
              $ref: '#/components/headers/GovukEndUserIdWriteRateLimitReset'
        "429":
          description: |
            Too many requests to write endpoints from an API User or End User ID
          headers:
            Govuk-Api-User-Write-RateLimit-Limit:
              $ref: '#/components/headers/GovukApiUserWriteRateLimitLimit'
            Govuk-Api-User-Write-RateLimit-Remaining:
              $ref: '#/components/headers/GovukApiUserWriteRateLimitRemaining'
            Govuk-Api-User-Write-RateLimit-Reset:
              $ref: '#/components/headers/GovukApiUserWriteRateLimitReset'
            Govuk-End-User-Id-Write-RateLimit-Limit:
              $ref: '#/components/headers/GovukEndUserIdWriteRateLimitLimit'
            Govuk-End-User-Id-Write-RateLimit-Remaining:
              $ref: '#/components/headers/GovukEndUserIdWriteRateLimitRemaining'
            Govuk-End-User-Id-Write-RateLimit-Reset:
              $ref: '#/components/headers/GovukEndUserIdWriteRateLimitReset'

  /conversation/{conversation_id}/questions:
    get:
      summary: Retrieve a conversation's answered questions
      description: |
        Accesses the answered questions of a conversation should a conversation with
        the id be available.
      parameters:
        - name: conversation_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: before
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: after
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/EndUserIdHeader"
      responses:
        "200":
          description: |
            Returns an array of AnsweredQuestions. Is limited to returning 50
            questions for a conversation and only questions asked within last
            90 days.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConversationQuestions"
          headers:
            Govuk-Api-User-Read-RateLimit-Limit:
              $ref: '#/components/headers/GovukApiUserReadRateLimitLimit'
            Govuk-Api-User-Read-RateLimit-Remaining:
              $ref: '#/components/headers/GovukApiUserReadRateLimitRemaining'
            Govuk-Api-User-Read-RateLimit-Reset:
              $ref: '#/components/headers/GovukApiUserReadRateLimitReset'
            Govuk-End-User-Id-Read-RateLimit-Limit:
              $ref: '#/components/headers/GovukEndUserIdReadRateLimitLimit'
            Govuk-End-User-Id-Read-RateLimit-Remaining:
              $ref: '#/components/headers/GovukEndUserIdReadRateLimitRemaining'
            Govuk-End-User-Id-Read-RateLimit-Reset:
              $ref: '#/components/headers/GovukEndUserIdReadRateLimitReset'
        "404":
          description: |
            Either a conversation never existed with this id or has now expired.
            Will also be rendered if the `before` or `after` parameters reference
            records that do not exist.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          headers:
            Govuk-Api-User-Read-RateLimit-Limit:
              $ref: '#/components/headers/GovukApiUserReadRateLimitLimit'
            Govuk-Api-User-Read-RateLimit-Remaining:
              $ref: '#/components/headers/GovukApiUserReadRateLimitRemaining'
            Govuk-Api-User-Read-RateLimit-Reset:
              $ref: '#/components/headers/GovukApiUserReadRateLimitReset'
            Govuk-End-User-Id-Read-RateLimit-Limit:
              $ref: '#/components/headers/GovukEndUserIdReadRateLimitLimit'
            Govuk-End-User-Id-Read-RateLimit-Remaining:
              $ref: '#/components/headers/GovukEndUserIdReadRateLimitRemaining'
            Govuk-End-User-Id-Read-RateLimit-Reset:
              $ref: '#/components/headers/GovukEndUserIdReadRateLimitReset'
        "429":
          description: |
            Too many requests to read endpoints from an API User or End User ID
          headers:
            Govuk-Api-User-Write-RateLimit-Limit:
              $ref: '#/components/headers/GovukApiUserWriteRateLimitLimit'
            Govuk-Api-User-Read-RateLimit-Remaining:
              $ref: '#/components/headers/GovukApiUserReadRateLimitRemaining'
            Govuk-Api-User-Read-RateLimit-Reset:
              $ref: '#/components/headers/GovukApiUserReadRateLimitReset'
            Govuk-End-User-Id-Read-RateLimit-Limit:
              $ref: '#/components/headers/GovukEndUserIdReadRateLimitLimit'
            Govuk-End-User-Id-Read-RateLimit-Remaining:
              $ref: '#/components/headers/GovukEndUserIdReadRateLimitRemaining'
            Govuk-End-User-Id-Read-RateLimit-Reset:
              $ref: '#/components/headers/GovukEndUserIdReadRateLimitReset'

  /conversation/{conversation_id}/questions/{question_id}/answer:
    get:
      summary: Look up the answer to a question
      description: |
        This endpoint is intended to be polled while awaiting an answer to a
        question
      parameters:
        - name: conversation_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: question_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/EndUserIdHeader"
      responses:
        "200":
          description: The answer is available and is returned
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Answer"
          headers:
            Govuk-Api-User-Read-RateLimit-Limit:
              $ref: '#/components/headers/GovukApiUserReadRateLimitLimit'
            Govuk-Api-User-Read-RateLimit-Remaining:
              $ref: '#/components/headers/GovukApiUserReadRateLimitRemaining'
            Govuk-Api-User-Read-RateLimit-Reset:
              $ref: '#/components/headers/GovukApiUserReadRateLimitReset'
            Govuk-End-User-Id-Read-RateLimit-Limit:
              $ref: '#/components/headers/GovukEndUserIdReadRateLimitLimit'
            Govuk-End-User-Id-Read-RateLimit-Remaining:
              $ref: '#/components/headers/GovukEndUserIdReadRateLimitRemaining'
            Govuk-End-User-Id-Read-RateLimit-Reset:
              $ref: '#/components/headers/GovukEndUserIdReadRateLimitReset'
        "202":
          description: The answer is still being generated
          headers:
            Govuk-Api-User-Read-RateLimit-Limit:
              $ref: '#/components/headers/GovukApiUserReadRateLimitLimit'
            Govuk-Api-User-Read-RateLimit-Remaining:
              $ref: '#/components/headers/GovukApiUserReadRateLimitRemaining'
            Govuk-Api-User-Read-RateLimit-Reset:
              $ref: '#/components/headers/GovukApiUserReadRateLimitReset'
            Govuk-End-User-Id-Read-RateLimit-Limit:
              $ref: '#/components/headers/GovukEndUserIdReadRateLimitLimit'
            Govuk-End-User-Id-Read-RateLimit-Remaining:
              $ref: '#/components/headers/GovukEndUserIdReadRateLimitRemaining'
            Govuk-End-User-Id-Read-RateLimit-Reset:
              $ref: '#/components/headers/GovukEndUserIdReadRateLimitReset'
        "404":
          description: Conversation or question do not exist
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
          headers:
            Govuk-Api-User-Read-RateLimit-Limit:
              $ref: '#/components/headers/GovukApiUserReadRateLimitLimit'
            Govuk-Api-User-Read-RateLimit-Remaining:
              $ref: '#/components/headers/GovukApiUserReadRateLimitRemaining'
            Govuk-Api-User-Read-RateLimit-Reset:
              $ref: '#/components/headers/GovukApiUserReadRateLimitReset'
            Govuk-End-User-Id-Read-RateLimit-Limit:
              $ref: '#/components/headers/GovukEndUserIdReadRateLimitLimit'
            Govuk-End-User-Id-Read-RateLimit-Remaining:
              $ref: '#/components/headers/GovukEndUserIdReadRateLimitRemaining'
            Govuk-End-User-Id-Read-RateLimit-Reset:
              $ref: '#/components/headers/GovukEndUserIdReadRateLimitReset'
        "429":
          description: |
            Too many requests to read endpoints from an API User or End User ID
          headers:
            Govuk-Api-User-Write-RateLimit-Limit:
              $ref: '#/components/headers/GovukApiUserWriteRateLimitLimit'
            Govuk-Api-User-Read-RateLimit-Remaining:
              $ref: '#/components/headers/GovukApiUserReadRateLimitRemaining'
            Govuk-Api-User-Read-RateLimit-Reset:
              $ref: '#/components/headers/GovukApiUserReadRateLimitReset'
            Govuk-End-User-Id-Read-RateLimit-Limit:
              $ref: '#/components/headers/GovukEndUserIdReadRateLimitLimit'
            Govuk-End-User-Id-Read-RateLimit-Remaining:
              $ref: '#/components/headers/GovukEndUserIdReadRateLimitRemaining'
            Govuk-End-User-Id-Read-RateLimit-Reset:
              $ref: '#/components/headers/GovukEndUserIdReadRateLimitReset'

security:
  - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      description: |
        GOV.UK Signon issued bearer token which is used to authenticate the
        client application (e.g. GOV.UK App) and not an individual end user
      scheme: bearer
  parameters:
    EndUserIdHeader:
      name: Govuk-Chat-End-User-Id
      in: header
      required: true
      description: |
        An identifier for an individual end-user client to be used to provide
        individual end-user rate limiting to ensure that no one client can
        consume all of an API users' limits.

        This header is also used to look up conversations belonging to that
        end user. Note that no backend validation is done on the value of this
        header, it's up to the client to ensure that the value is unique.
      schema:
        type: string
        pattern: '\S'
  headers:
    GovukApiUserReadRateLimitLimit:
      description: The request limit for the API user in the current period.
      schema:
        type: string
    GovukApiUserReadRateLimitRemaining:
      description: The number of remaining requests for the API user in the current period.
      schema:
        type: string
    GovukApiUserReadRateLimitReset:
      description: |
        Time remaining in seconds until the read request limit is reset for the API User.
        If the api user is currently at the limit, this is the time until next request can be made without returning
        a 429 Too Many Requests response.
      schema:
        type: string
    GovukEndUserIdReadRateLimitLimit:
      description: The request limit for the User ID in the current period.
      schema:
        type: string
    GovukEndUserIdReadRateLimitRemaining:
      description: The number of remaining requests for the User ID in the current period.
      schema:
        type: string
    GovukEndUserIdReadRateLimitReset:
      description: |
        Time remaining in seconds until the read request limit is reset for the User ID.
        If the User ID is currently at the limit, this is the time until next request can be made without returning
        a 429 Too Many Requests response.
      schema:
        type: string
    GovukApiUserWriteRateLimitLimit:
      description: The request limit for API User writes in the current period.
      schema:
        type: string
    GovukApiUserWriteRateLimitRemaining:
      description: The number of remaining API User write requests in the current period.
      schema:
        type: string
    GovukApiUserWriteRateLimitReset:
      description: |
        Time remaining in seconds until the write request limit is reset for the API User.
        If the api user is currently at the limit, this is the time until next request can be made without returning
        a 429 Too Many Requests response.
      schema:
        type: string
    GovukEndUserIdWriteRateLimitLimit:
      description: The request limit for User ID writes in the current period.
      schema:
        type: string
    GovukEndUserIdWriteRateLimitRemaining:
      description: The number of remaining User ID write requests in the current period.
      schema:
        type: string
    GovukEndUserIdWriteRateLimitReset:
      description: |
        Time remaining in seconds until the write request limit is reset for the User ID.
        If the User ID is currently at the limit, this is the time until next request can be made without returning
        a 429 Too Many Requests response.
      schema:
        type: string
  schemas:
    UserQuestion:
      type: object
      required:
        - user_question
      properties:
        user_question:
          type: string
    Conversation:
      type: object
      required:
        - id
        - answered_questions
        - created_at
      properties:
        answered_questions:
          type: array
          items:
            $ref: "#/components/schemas/AnsweredQuestion"
        pending_question:
          $ref: "#/components/schemas/PendingQuestion"
        created_at:
          type: string
          format: date-time
        earlier_questions_url:
          description: |
            A relative URL that can be used to retrieve earlier questions in the conversation.
            Will be null if there are no earlier questions.
          type: string
          format: url
    ConversationQuestions:
      type: object
      required:
        - questions
      properties:
        questions:
          type: array
          items:
            $ref: "#/components/schemas/AnsweredQuestion"
        earlier_questions_url:
          description: |
            A relative URL that can be used to retrieve earlier questions in the conversation.
            Will be null if there are no earlier questions.
          type: string
          format: url
        later_questions_url:
          description: |
            A relative URL that can be used to retrieve later questions in the conversation.
            Will be null if there are no later questions.
          type: string
          format: url
    AnsweredQuestion:
      type: object
      required:
        - id
        - conversation_id
        - message
        - answer
        - created_at
      properties:
        id:
          type: string
          format: uuid
        conversation_id:
          type: string
          format: uuid
        message:
          description: The question the user provided in plain text
          type: string
        answer:
          $ref: "#/components/schemas/Answer"
        created_at:
          type: string
          format: date-time
    PendingQuestion:
      type: object
      required:
        - id
        - conversation_id
        - message
        - answer_url
        - created_at
      properties:
        id:
          type: string
          format: uuid
        conversation_id:
          type: string
          format: uuid
        message:
          description: The question the user provided in plain text
          type: string
        answer_url:
          description: |
            A relative URL that can be polled to check whether the answer is available
          type: string
          format: uri
        created_at:
          type: string
          format: date-time
    Answer:
      type: object
      required:
        - id
        - created_at
        - message
      properties:
        id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        message:
          description: |
            The LLM generated answer returned in markdown format.

            Soft line breaks should not be treated as hard line breaks.
          type: string
        sources:
          type: array
          items:
            $ref: "#/components/schemas/AnswerSource"
    AnswerSource:
      type: object
      required:
        - title
        - url
      properties:
        title:
          description: Title of the GOV.UK document used
          type: string
        heading:
          description: Heading of the section used for content
          type: string
        url:
          description: |
            URL of the page on GOV.UK that was used to generate answer
            with potentially a fragment to appropriate section
          type: string
          format: uri
    GenericError:
      type: object
      required:
        - message
      properties:
        message:
          type: string
    ValidationError:
      type: object
      required:
        - message
        - errors
      properties:
        message:
          type: string
        errors:
          description: |
            an object structure of field name to an array of errors
          type: object
          additionalProperties:
            type: array
            items:
              type: string
