name: Run RSpec

on:
  workflow_call:
    inputs:
      ref:
        description: 'The branch, tag or SHA to checkout'
        required: false
        type: string
      publishingApiRef:
        description: 'The branch, tag or SHA to checkout Publishing API'
        required: false
        default: main
        type: string
      govukChatPrivateRef:
        description: 'The branch, tag or SHA to checkout govuk_chat_private'
        required: false
        type: string

jobs:
  run-rspec:
    services:
      opensearch-2:
        image: opensearchproject/opensearch:2
        env:
          discovery.type: single-node
          OPENSEARCH_JAVA_OPTS: -Xms2g -Xmx2g
          DISABLE_INSTALL_DEMO_CONFIG: "true" # Prevents execution of bundled demo script
          DISABLE_SECURITY_PLUGIN: "true"
        ports:
          - 9200:9200
        options: >-
          --health-cmd "curl http://localhost:9200/_cluster/health"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    name: Run RSpec
    runs-on: ubuntu-latest
    steps:
      - name: Setup Postgres
        id: setup-postgres
        uses: alphagov/govuk-infrastructure/.github/actions/setup-postgres@main

      - name: Setup Redis
        uses: alphagov/govuk-infrastructure/.github/actions/setup-redis@main

      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: alphagov/govuk-chat
          ref: ${{ inputs.ref || github.ref }}

      - name: Checkout Publishing API (for Content Schemas)
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: alphagov/publishing-api
          ref: ${{ inputs.publishingApiRef }}
          path: vendor/publishing-api

      - name: Checkout govuk_chat_private
        if: inputs.govukChatPrivateRef != ''
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: alphagov/govuk_chat_private
          ref: ${{ inputs.govukChatPrivateRef }}
          path: govuk_chat_private
          token: ${{ secrets.GOVUK_CI_GITHUB_API_TOKEN }}

      - name: Setup Ruby
        uses: ruby/setup-ruby@90be1154f987f4dc0fe0dd0feedac9e473aa4ba8 # v1.286.0
        with:
          bundler-cache: true
        env:
          BUNDLE_GITHUB__COM: "x-access-token:${{ secrets.GOVUK_CI_GITHUB_API_TOKEN }}"

      - name: Configure Bundler to use checked-out version of govuk_chat_private
        if: inputs.govukChatPrivateRef != ''
        run: |
          bundle config local.govuk_chat_private govuk_chat_private
          bundle config set disable_local_branch_check true
          bundle config set disable_local_revision_check true
          bundle config set frozen false
          bundle update --conservative govuk_chat_private
          bundle info govuk_chat_private

      - name: Setup Node
        uses: alphagov/govuk-infrastructure/.github/actions/setup-node@main

      - name: Precompile assets
        uses: alphagov/govuk-infrastructure/.github/actions/precompile-rails-assets@main

      - name: Initialize database
        env:
          RAILS_ENV: test
          TEST_DATABASE_URL: ${{ steps.setup-postgres.outputs.db-url }}
        run: bundle exec rails db:setup

      - name: Run RSpec
        env:
          RAILS_ENV: test
          TEST_DATABASE_URL: ${{ steps.setup-postgres.outputs.db-url }}
          GOVUK_CONTENT_SCHEMAS_PATH: vendor/publishing-api/content_schemas
        run: bundle exec rake spec
